In [5]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
from numpy.random import randn
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
pub_df = pd.read_csv('trade.csv')

In [10]:
pub_df.head(2)

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000

In [14]:
pub_df.tail(2)

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
29781,Reimports,2020,09/06/2020,Tuesday,09/06/2020,All,All,All,$,0,62000000
29782,Reimports,2020,10/06/2020,Wednesday,10/06/2020,All,All,All,$,1000000,64000000

In [15]:
pub_df.shape

(29783, 11)

In [16]:
pub_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29783 entries, 0 to 29782
Data columns (total 11 columns):
Direction         29783 non-null object
Year              29783 non-null int64
Date              29783 non-null object
Weekday           29783 non-null object
Current_Match     29783 non-null object
Country           29783 non-null object
Commodity         29783 non-null object
Transport_Mode    29783 non-null object
Measure           29783 non-null object
Value             29783 non-null int64
Cumulative        29783 non-null int64
dtypes: int64(3), object(8)
memory usage: 2.5+ MB

In [25]:
pub_df.Date[2:7]

2    02/02/2015
3    03/02/2015
4    04/02/2015
5    05/02/2015
6    06/02/2015
Name: Date, dtype: object

In [40]:
pub_df[['Date', 'Country', 'Value']]

             Date Country      Value
0      31/01/2015     All  257000000
1      01/02/2015     All  123000000
2      02/02/2015     All  176000000
3      03/02/2015     All  115000000
4      04/02/2015     All   74000000
5      05/02/2015     All  119000000
6      06/02/2015     All  127000000
7      07/02/2015     All  206000000
8      08/02/2015     All  114000000
9      09/02/2015     All  202000000
10     10/02/2015     All   88000000
11     11/02/2015     All   67000000
12     12/02/2015     All  132000000
13     13/02/2015     All  143000000
14     14/02/2015     All  146000000
15     15/02/2015     All  111000000
16     16/02/2015     All  226000000
17     17/02/2015     All  171000000
18     18/02/2015     All  120000000
19     19/02/2015     All  157000000
20     20/02/2015     All  157000000
21     21/02/2015     All  184000000
22     22/02/2015     All  135000000
23     23/02/2015     All  185000000
24     24/02/2015     All   94000000
25     25/02/2015     All  113000000
26     26/02/2015     All  130000000
27     27/02/2015     All  127000000
28     28/02/2015     All  145000000
29     01/03/2015     All  386000000
...           ...     ...        ...
29753  12/05/2020     All    1000000
29754  13/05/2020     All    1000000
29755  14/05/2020     All          0
29756  15/05/2020     All    1000000
29757  16/05/2020     All          0
29758  17/05/2020     All          0
29759  18/05/2020     All    1000000
29760  19/05/2020     All          0
29761  20/05/2020     All          0
29762  21/05/2020     All          0
29763  22/05/2020     All    1000000
29764  23/05/2020     All          0
29765  24/05/2020     All          0
29766  25/05/2020     All          0
29767  26/05/2020     All          0
29768  27/05/2020     All    2000000
29769  28/05/2020     All    1000000
29770  29/05/2020     All          0
29771  30/05/2020     All          0
29772  31/05/2020     All          0
29773  01/06/2020     All          0
29774  02/06/2020     All    1000000
29775  03/06/2020     All    1000000
29776  04/06/2020     All    2000000
29777  05/06/2020     All    1000000
29778  06/06/2020     All          0
29779  07/06/2020     All          0
29780  08/06/2020     All          0
29781  09/06/2020     All          0
29782  10/06/2020     All    1000000

[29783 rows x 3 columns]

In [41]:
pub_df.columns

Index([u'Direction', u'Year', u'Date', u'Weekday', u'Current_Match',
       u'Country', u'Commodity', u'Transport_Mode', u'Measure', u'Value',
       u'Cumulative'],
      dtype='object')

In [51]:
pub_df.iloc[4]

Direction            Exports
Year                    2015
Date              04/02/2015
Weekday            Wednesday
Current_Match     05/02/2020
Country                  All
Commodity                All
Transport_Mode           All
Measure                    $
Value               74000000
Cumulative         746000000
Name: 4, dtype: object

In [53]:
pub_df.iloc[[4]]

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000

In [61]:
pub_df.iloc[[5],7]

5    All
Name: Transport_Mode, dtype: object

In [64]:
pub_df.loc[[1,2,5,8,9],['Date', 'Value']]

         Date      Value
1  01/02/2015  123000000
2  02/02/2015  176000000
5  05/02/2015  119000000
8  08/02/2015  114000000
9  09/02/2015  202000000

In [73]:
pub_df.loc[2:6, 'Date']

2    02/02/2015
3    03/02/2015
4    04/02/2015
5    05/02/2015
6    06/02/2015
Name: Date, dtype: object

In [74]:
pub_df.loc[2:6,['Date', 'Value']]

         Date      Value
2  02/02/2015  176000000
3  03/02/2015  115000000
4  04/02/2015   74000000
5  05/02/2015  119000000
6  06/02/2015  127000000

In [78]:
pub_df.loc[2:7, 'Date': 'Value']

,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value
2,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000
3,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000
4,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000
5,05/02/2015,Thursday,06/02/2020,All,All,All,$,119000000
6,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000
7,07/02/2015,Saturday,08/02/2020,All,All,All,$,206000000

In [69]:
pub_df['Value'].value_counts()

0            1722
1000000      1259
1000         1235
2000000      1088
3000000       831
4000000       795
2000          754
5000000       723
6000000       679
9000000       558
8000000       553
7000000       552
12000000      546
3000          540
10000000      528
14000000      517
11000000      489
13000000      471
15000000      469
16000000      395
17000000      377
18000000      369
20000000      368
4000          342
21000000      337
22000000      315
19000000      311
23000000      309
24000000      281
25000000      275
             ...
205000          1
156000          1
141000          1
170000          1
265000000       1
352000000       1
357000000       1
323000000       1
202000          1
298000000       1
168000          1
297000000       1
186000          1
336000000       1
291000000       1
261000000       1
135000          1
381000000       1
290000000       1
322000000       1
300000000       1
171000          1
137000          1
151000          1
154000          1
353000000       1
348000000       1
126000          1
332000000       1
188000          1
Name: Value, Length: 497, dtype: int64

In [79]:
pub_df.set_index('Country')

,Direction,Year,Date,Weekday,Current_Match,Commodity,Transport_Mode,Measure,Value,Cumulative
Country,,,,,,,,,,
All,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,$,257000000,257000000
All,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,$,123000000,380000000
All,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,$,176000000,556000000
All,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,$,115000000,671000000
All,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,$,74000000,746000000
All,Exports,2015,05/02/2015,Thursday,06/02/2020,All,All,$,119000000,864000000
All,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,$,127000000,992000000
All,Exports,2015,07/02/2015,Saturday,08/02/2020,All,All,$,206000000,1198000000
All,Exports,2015,08/02/2015,Sunday,09/02/2020,All,All,$,114000000,1312000000
All,Exports,2015,09/02/2015,Monday,10/02/2020,All,All,$,202000000,1513000000
All,Exports,2015,10/02/2015,Tuesday,11/02/2020,All,All,$,88000000,1601000000
All,Exports,2015,11/02/2015,Wednesday,12/02/2020,All,All,$,67000000,1669000000
All,Exports,2015,12/02/2015,Thursday,13/02/2020,All,All,$,132000000,1801000000
All,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,$,143000000,1944000000
All,Exports,2015,14/02/2015,Saturday,15/02/2020,All,All,$,146000000,2090000000
All,Exports,2015,15/02/2015,Sunday,16/02/2020,All,All,$,111000000,2201000000
All,Exports,2015,16/02/2015,Monday,17/02/2020,All,All,$,226000000,2427000000
All,Exports,2015,17/02/2015,Tuesday,18/02/2020,All,All,$,171000000,2599000000
All,Exports,2015,18/02/2015,Wednesday,19/02/2020,All,All,$,120000000,2718000000
All,Exports,2015,19/02/2015,Thursday,20/02/2020,All,All,$,157000000,2875000000
All,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,$,157000000,3032000000
All,Exports,2015,21/02/2015,Saturday,22/02/2020,All,All,$,184000000,3216000000
All,Exports,2015,22/02/2015,Sunday,23/02/2020,All,All,$,135000000,3352000000
All,Exports,2015,23/02/2015,Monday,24/02/2020,All,All,$,185000000,3536000000
All,Exports,2015,24/02/2015,Tuesday,25/02/2020,All,All,$,94000000,3630000000
All,Exports,2015,25/02/2015,Wednesday,26/02/2020,All,All,$,113000000,3743000000
All,Exports,2015,26/02/2015,Thursday,27/02/2020,All,All,$,130000000,3873000000
All,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,$,127000000,4000000000
All,Exports,2015,28/02/2015,Saturday,29/02/2020,All,All,$,145000000,4145000000
All,Exports,2015,01/03/2015,Sunday,01/03/2020,All,All,$,386000000,4531000000
...,...,...,...,...,...,...,...,...,...,...
All,Reimports,2020,12/05/2020,Tuesday,12/05/2020,All,All,$,1000000,49000000
All,Reimports,2020,13/05/2020,Wednesday,13/05/2020,All,All,$,1000000,50000000
All,Reimports,2020,14/05/2020,Thursday,14/05/2020,All,All,$,0,50000000
All,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,$,1000000,51000000
All,Reimports,2020,16/05/2020,Saturday,16/05/2020,All,All,$,0,51000000
All,Reimports,2020,17/05/2020,Sunday,17/05/2020,All,All,$,0,51000000
All,Reimports,2020,18/05/2020,Monday,18/05/2020,All,All,$,1000000,51000000
All,Reimports,2020,19/05/2020,Tuesday,19/05/2020,All,All,$,0,52000000
All,Reimports,2020,20/05/2020,Wednesday,20/05/2020,All,All,$,0,52000000
All,Reimports,2020,21/05/2020,Thursday,21/05/2020,All,All,$,0,52000000
All,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,$,1000000,53000000
All,Reimports,2020,23/05/2020,Saturday,23/05/2020,All,All,$,0,54000000
All,Reimports,2020,24/05/2020,Sunday,24/05/2020,All,All,$,0,54000000
All,Reimports,2020,25/05/2020,Monday,25/05/2020,All,All,$,0,54000000
All,Reimports,2020,26/05/2020,Tuesday,26/05/2020,All,All,$,0,54000000
All,Reimports,2020,27/05/2020,Wednesday,27/05/2020,All,All,$,2000000,56000000
All,Reimports,2020,28/05/2020,Thursday,28/05/2020,All,All,$,1000000,57000000
All,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,$,0,57000000
All,Reimports,2020,30/05/2020,Saturday,30/05/2020,All,All,$,0,57000000
All,Reimports,2020,31/05/2020,Sunday,31/05/2020,All,All,$,0,57000000
All,Reimports,2020,01/06/2020,Monday,01/06/2020,All,All,$,0,57000000
All,Reimports,2020,02/06/2020,Tuesday,02/06/2020,All,All,$,1000000,58000000
All,Reimports,2020,03/06/2020,Wednesday,03/06/2020,All,All,$,1000000,59000000
All,Reimports,2020,04/06/2020,Thursday,04/06/2020,All,All,$,2000000,61000000
All,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,$,1000000,62000000
All,Reimports,2020,06/06/2020,Saturday,06/06/2020,All,All,$,0,62000000
All,Reimports,2020,07/06/2020,Sunday,07/06/2020,All,All,$,0,62000000
All,Reimports,2020,08/06/2020,Monday,08/06/2020,All,All,$,0,62000000
All,Reimports,2020,09/06/2020,Tuesday,09/06/2020,All,All,$,0,62000000
All,Reimports,2020,10/06/2020,Wednesday,10/06/2020,All,All,$,1000000,64000000

In [82]:
pub_df.sort_index

<bound method DataFrame.sort_index of        Direction  Year        Date    Weekday Current_Match Country Commodity  \
0        Exports  2015  31/01/2015   Saturday    01/02/2020     All       All
1        Exports  2015  01/02/2015     Sunday    02/02/2020     All       All
2        Exports  2015  02/02/2015     Monday    03/02/2020     All       All
3        Exports  2015  03/02/2015    Tuesday    04/02/2020     All       All
4        Exports  2015  04/02/2015  Wednesday    05/02/2020     All       All
5        Exports  2015  05/02/2015   Thursday    06/02/2020     All       All
6        Exports  2015  06/02/2015     Friday    07/02/2020     All       All
7        Exports  2015  07/02/2015   Saturday    08/02/2020     All       All
8        Exports  2015  08/02/2015     Sunday    09/02/2020     All       All
9        Exports  2015  09/02/2015     Monday    10/02/2020     All       All
10       Exports  2015  10/02/2015    Tuesday    11/02/2020     All       All
11       Exports  2015  11/02/2015  Wednesday    12/02/2020     All       All
12       Exports  2015  12/02/2015   Thursday    13/02/2020     All       All
13       Exports  2015  13/02/2015     Friday    14/02/2020     All       All
14       Exports  2015  14/02/2015   Saturday    15/02/2020     All       All
15       Exports  2015  15/02/2015     Sunday    16/02/2020     All       All
16       Exports  2015  16/02/2015     Monday    17/02/2020     All       All
17       Exports  2015  17/02/2015    Tuesday    18/02/2020     All       All
18       Exports  2015  18/02/2015  Wednesday    19/02/2020     All       All
19       Exports  2015  19/02/2015   Thursday    20/02/2020     All       All
20       Exports  2015  20/02/2015     Friday    21/02/2020     All       All
21       Exports  2015  21/02/2015   Saturday    22/02/2020     All       All
22       Exports  2015  22/02/2015     Sunday    23/02/2020     All       All
23       Exports  2015  23/02/2015     Monday    24/02/2020     All       All
24       Exports  2015  24/02/2015    Tuesday    25/02/2020     All       All
25       Exports  2015  25/02/2015  Wednesday    26/02/2020     All       All
26       Exports  2015  26/02/2015   Thursday    27/02/2020     All       All
27       Exports  2015  27/02/2015     Friday    28/02/2020     All       All
28       Exports  2015  28/02/2015   Saturday    29/02/2020     All       All
29       Exports  2015  01/03/2015     Sunday    01/03/2020     All       All
...          ...   ...         ...        ...           ...     ...       ...
29753  Reimports  2020  12/05/2020    Tuesday    12/05/2020     All       All
29754  Reimports  2020  13/05/2020  Wednesday    13/05/2020     All       All
29755  Reimports  2020  14/05/2020   Thursday    14/05/2020     All       All
29756  Reimports  2020  15/05/2020     Friday    15/05/2020     All       All
29757  Reimports  2020  16/05/2020   Saturday    16/05/2020     All       All
29758  Reimports  2020  17/05/2020     Sunday    17/05/2020     All       All
29759  Reimports  2020  18/05/2020     Monday    18/05/2020     All       All
29760  Reimports  2020  19/05/2020    Tuesday    19/05/2020     All       All
29761  Reimports  2020  20/05/2020  Wednesday    20/05/2020     All       All
29762  Reimports  2020  21/05/2020   Thursday    21/05/2020     All       All
29763  Reimports  2020  22/05/2020     Friday    22/05/2020     All       All
29764  Reimports  2020  23/05/2020   Saturday    23/05/2020     All       All
29765  Reimports  2020  24/05/2020     Sunday    24/05/2020     All       All
29766  Reimports  2020  25/05/2020     Monday    25/05/2020     All       All
29767  Reimports  2020  26/05/2020    Tuesday    26/05/2020     All       All
29768  Reimports  2020  27/05/2020  Wednesday    27/05/2020     All       All
29769  Reimports  2020  28/05/2020   Thursday    28/05/2020     All       All
29770  Reimports  2020  29/05/2020     Friday    29/05/2020     All       All
29771  Reimports  2020  30/05/2020   Saturday    30/05/2020     All       All
29772  Reimports  2020  31/05/2020     Sunday    31/05/2020     All       All
29773  Reimports  2020  01/06/2020     Monday    01/06/2020     All       All
29774  Reimports  2020  02/06/2020    Tuesday    02/06/2020     All       All
29775  Reimports  2020  03/06/2020  Wednesday    03/06/2020     All       All
29776  Reimports  2020  04/06/2020   Thursday    04/06/2020     All       All
29777  Reimports  2020  05/06/2020     Friday    05/06/2020     All       All
29778  Reimports  2020  06/06/2020   Saturday    06/06/2020     All       All
29779  Reimports  2020  07/06/2020     Sunday    07/06/2020     All       All
29780  Reimports  2020  08/06/2020     Monday    08/06/2020     All       All
29781  Reimports  2020  09/06/2020    Tuesday    09/06/2020     All       All
29782  Reimports  2020  10/06/2020  Wednesday    10/06/2020     All       All

      Transport_Mode Measure      Value  Cumulative
0                All       $  257000000   257000000
1                All       $  123000000   380000000
2                All       $  176000000   556000000
3                All       $  115000000   671000000
4                All       $   74000000   746000000
5                All       $  119000000   864000000
6                All       $  127000000   992000000
7                All       $  206000000  1198000000
8                All       $  114000000  1312000000
9                All       $  202000000  1513000000
10               All       $   88000000  1601000000
11               All       $   67000000  1669000000
12               All       $  132000000  1801000000
13               All       $  143000000  1944000000
14               All       $  146000000  2090000000
15               All       $  111000000  2201000000
16               All       $  226000000  2427000000
17               All       $  171000000  2599000000
18               All       $  120000000  2718000000
19               All       $  157000000  2875000000
20               All       $  157000000  3032000000
21               All       $  184000000  3216000000
22               All       $  135000000  3352000000
23               All       $  185000000  3536000000
24               All       $   94000000  3630000000
25               All       $  113000000  3743000000
26               All       $  130000000  3873000000
27               All       $  127000000  4000000000
28               All       $  145000000  4145000000
29               All       $  386000000  4531000000
...              ...     ...        ...         ...
29753            All       $    1000000    49000000
29754            All       $    1000000    50000000
29755            All       $          0    50000000
29756            All       $    1000000    51000000
29757            All       $          0    51000000
29758            All       $          0    51000000
29759            All       $    1000000    51000000
29760            All       $          0    52000000
29761            All       $          0    52000000
29762            All       $          0    52000000
29763            All       $    1000000    53000000
29764            All       $          0    54000000
29765            All       $          0    54000000
29766            All       $          0    54000000
29767            All       $          0    54000000
29768            All       $    2000000    56000000
29769            All       $    1000000    57000000
29770            All       $          0    57000000
29771            All       $          0    57000000
29772            All       $          0    57000000
29773            All       $          0    57000000
29774            All       $    1000000    58000000
29775            All       $    1000000    59000000
29776            All       $    2000000    61000000
29777            All       $    1000000    62000000
29778            All       $          0    62000000
29779            All       $          0    62000000
29780            All       $          0    62000000
29781            All       $          0    62000000
29782            All       $    1000000    64000000

[29783 rows x 11 columns]>

In [86]:
pub_df['Weekday'] =='Friday'

0        False
1        False
2        False
3        False
4        False
5        False
6         True
7        False
8        False
9        False
10       False
11       False
12       False
13        True
14       False
15       False
16       False
17       False
18       False
19       False
20        True
21       False
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
         ...
29753    False
29754    False
29755    False
29756     True
29757    False
29758    False
29759    False
29760    False
29761    False
29762    False
29763     True
29764    False
29765    False
29766    False
29767    False
29768    False
29769    False
29770     True
29771    False
29772    False
29773    False
29774    False
29775    False
29776    False
29777     True
29778    False
29779    False
29780    False
29781    False
29782    False
Name: Weekday, Length: 29783, dtype: bool

In [87]:
filt= pub_df['Weekday'] == 'Friday'

In [94]:
pub_df[filt]

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
34,Exports,2015,06/03/2015,Friday,06/03/2020,All,All,All,$,153000000,5350000000
41,Exports,2015,13/03/2015,Friday,13/03/2020,All,All,All,$,130000000,6339000000
48,Exports,2015,20/03/2015,Friday,20/03/2020,All,All,All,$,131000000,7306000000
55,Exports,2015,27/03/2015,Friday,27/03/2020,All,All,All,$,117000000,8364000000
62,Exports,2015,03/04/2015,Friday,03/04/2020,All,All,All,$,158000000,9427000000
69,Exports,2015,10/04/2015,Friday,10/04/2020,All,All,All,$,126000000,10414000000
76,Exports,2015,17/04/2015,Friday,17/04/2020,All,All,All,$,122000000,11372000000
83,Exports,2015,24/04/2015,Friday,24/04/2020,All,All,All,$,154000000,12368000000
90,Exports,2015,01/05/2015,Friday,01/05/2020,All,All,All,$,121000000,13305000000
97,Exports,2015,08/05/2015,Friday,08/05/2020,All,All,All,$,199000000,14297000000
104,Exports,2015,15/05/2015,Friday,15/05/2020,All,All,All,$,191000000,15235000000
111,Exports,2015,22/05/2015,Friday,22/05/2020,All,All,All,$,200000000,16260000000
118,Exports,2015,29/05/2015,Friday,29/05/2020,All,All,All,$,158000000,17154000000
125,Exports,2015,05/06/2015,Friday,05/06/2020,All,All,All,$,168000000,18173000000
137,Exports,2016,05/02/2016,Friday,07/02/2020,All,All,All,$,162000000,1157000000
144,Exports,2016,12/02/2016,Friday,14/02/2020,All,All,All,$,171000000,2001000000
151,Exports,2016,19/02/2016,Friday,21/02/2020,All,All,All,$,122000000,2993000000
158,Exports,2016,26/02/2016,Friday,28/02/2020,All,All,All,$,163000000,4121000000
165,Exports,2016,04/03/2016,Friday,06/03/2020,All,All,All,$,168000000,5237000000
172,Exports,2016,11/03/2016,Friday,13/03/2020,All,All,All,$,122000000,6095000000
179,Exports,2016,18/03/2016,Friday,20/03/2020,All,All,All,$,189000000,7155000000
186,Exports,2016,25/03/2016,Friday,27/03/2020,All,All,All,$,135000000,7991000000
193,Exports,2016,01/04/2016,Friday,03/04/2020,All,All,All,$,156000000,9074000000
200,Exports,2016,08/04/2016,Friday,10/04/2020,All,All,All,$,118000000,9818000000
207,Exports,2016,15/04/2016,Friday,17/04/2020,All,All,All,$,219000000,11009000000
214,Exports,2016,22/04/2016,Friday,24/04/2020,All,All,All,$,145000000,11946000000
...,...,...,...,...,...,...,...,...,...,...,...
29569,Reimports,2019,22/03/2019,Friday,20/03/2020,All,All,All,$,1000000,24000000
29576,Reimports,2019,29/03/2019,Friday,27/03/2020,All,All,All,$,1000000,27000000
29583,Reimports,2019,05/04/2019,Friday,03/04/2020,All,All,All,$,1000000,31000000
29590,Reimports,2019,12/04/2019,Friday,10/04/2020,All,All,All,$,2000000,35000000
29597,Reimports,2019,19/04/2019,Friday,17/04/2020,All,All,All,$,0,42000000
29604,Reimports,2019,26/04/2019,Friday,24/04/2020,All,All,All,$,0,45000000
29611,Reimports,2019,03/05/2019,Friday,01/05/2020,All,All,All,$,3000000,49000000
29618,Reimports,2019,10/05/2019,Friday,08/05/2020,All,All,All,$,0,52000000
29625,Reimports,2019,17/05/2019,Friday,15/05/2020,All,All,All,$,2000000,56000000
29632,Reimports,2019,24/05/2019,Friday,22/05/2020,All,All,All,$,0,58000000
29639,Reimports,2019,31/05/2019,Friday,29/05/2020,All,All,All,$,1000000,63000000
29646,Reimports,2019,07/06/2019,Friday,05/06/2020,All,All,All,$,1000000,66000000
29658,Reimports,2020,07/02/2020,Friday,07/02/2020,All,All,All,$,1000000,3000000
29665,Reimports,2020,14/02/2020,Friday,14/02/2020,All,All,All,$,0,6000000
29672,Reimports,2020,21/02/2020,Friday,21/02/2020,All,All,All,$,1000000,9000000
29679,Reimports,2020,28/02/2020,Friday,28/02/2020,All,All,All,$,1000000,14000000
29686,Reimports,2020,06/03/2020,Friday,06/03/2020,All,All,All,$,1000000,19000000
29693,Reimports,2020,13/03/2020,Friday,13/03/2020,All,All,All,$,0,21000000
29700,Reimports,2020,20/03/2020,Friday,20/03/2020,All,All,All,$,0,24000000
29707,Reimports,2020,27/03/2020,Friday,27/03/2020,All,All,All,$,2000000,27000000
29714,Reimports,2020,03/04/2020,Friday,03/04/2020,All,All,All,$,2000000,32000000
29721,Reimports,2020,10/04/2020,Friday,10/04/2020,All,All,All,$,0,34000000
29728,Reimports,2020,17/04/2020,Friday,17/04/2020,All,All,All,$,0,35000000
29735,Reimports,2020,24/04/2020,Friday,24/04/2020,All,All,All,$,1000000,39000000
29742,Reimports,2020,01/05/2020,Friday,01/05/2020,All,All,All,$,2000000,45000000
29749,Reimports,2020,08/05/2020,Friday,08/05/2020,All,All,All,$,0,48000000
29756,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
29763,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
29770,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,All,$,0,57000000
29777,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,All,$,1000000,62000000

In [96]:
filt= pub_df['Weekday'] == 'Monday'
pub_df[filt]

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
9,Exports,2015,09/02/2015,Monday,10/02/2020,All,All,All,$,202000000,1513000000
16,Exports,2015,16/02/2015,Monday,17/02/2020,All,All,All,$,226000000,2427000000
23,Exports,2015,23/02/2015,Monday,24/02/2020,All,All,All,$,185000000,3536000000
30,Exports,2015,02/03/2015,Monday,02/03/2020,All,All,All,$,219000000,4750000000
37,Exports,2015,09/03/2015,Monday,09/03/2020,All,All,All,$,209000000,5846000000
44,Exports,2015,16/03/2015,Monday,16/03/2020,All,All,All,$,213000000,6786000000
51,Exports,2015,23/03/2015,Monday,23/03/2020,All,All,All,$,175000000,7824000000
58,Exports,2015,30/03/2015,Monday,30/03/2020,All,All,All,$,220000000,8888000000
65,Exports,2015,06/04/2015,Monday,06/04/2020,All,All,All,$,206000000,9978000000
72,Exports,2015,13/04/2015,Monday,13/04/2020,All,All,All,$,203000000,10907000000
79,Exports,2015,20/04/2015,Monday,20/04/2020,All,All,All,$,184000000,11801000000
86,Exports,2015,27/04/2015,Monday,27/04/2020,All,All,All,$,189000000,12888000000
93,Exports,2015,04/05/2015,Monday,04/05/2020,All,All,All,$,152000000,13809000000
100,Exports,2015,11/05/2015,Monday,11/05/2020,All,All,All,$,130000000,14684000000
107,Exports,2015,18/05/2015,Monday,18/05/2020,All,All,All,$,180000000,15721000000
114,Exports,2015,25/05/2015,Monday,25/05/2020,All,All,All,$,146000000,16660000000
121,Exports,2015,01/06/2015,Monday,01/06/2020,All,All,All,$,164000000,17701000000
128,Exports,2015,08/06/2015,Monday,08/06/2020,All,All,All,$,188000000,18604000000
133,Exports,2016,01/02/2016,Monday,03/02/2020,All,All,All,$,218000000,698000000
140,Exports,2016,08/02/2016,Monday,10/02/2020,All,All,All,$,188000000,1577000000
147,Exports,2016,15/02/2016,Monday,17/02/2020,All,All,All,$,213000000,2559000000
154,Exports,2016,22/02/2016,Monday,24/02/2020,All,All,All,$,143000000,3674000000
161,Exports,2016,29/02/2016,Monday,02/03/2020,All,All,All,$,237000000,4717000000
168,Exports,2016,07/03/2016,Monday,09/03/2020,All,All,All,$,163000000,5650000000
175,Exports,2016,14/03/2016,Monday,16/03/2020,All,All,All,$,160000000,6634000000
182,Exports,2016,21/03/2016,Monday,23/03/2020,All,All,All,$,139000000,7517000000
189,Exports,2016,28/03/2016,Monday,30/03/2020,All,All,All,$,157000000,8485000000
196,Exports,2016,04/04/2016,Monday,06/04/2020,All,All,All,$,130000000,9404000000
203,Exports,2016,11/04/2016,Monday,13/04/2020,All,All,All,$,151000000,10418000000
...,...,...,...,...,...,...,...,...,...,...,...
29579,Reimports,2019,01/04/2019,Monday,30/03/2020,All,All,All,$,2000000,28000000
29586,Reimports,2019,08/04/2019,Monday,06/04/2020,All,All,All,$,0,31000000
29593,Reimports,2019,15/04/2019,Monday,13/04/2020,All,All,All,$,0,36000000
29600,Reimports,2019,22/04/2019,Monday,20/04/2020,All,All,All,$,0,42000000
29607,Reimports,2019,29/04/2019,Monday,27/04/2020,All,All,All,$,1000000,45000000
29614,Reimports,2019,06/05/2019,Monday,04/05/2020,All,All,All,$,1000000,50000000
29621,Reimports,2019,13/05/2019,Monday,11/05/2020,All,All,All,$,0,52000000
29628,Reimports,2019,20/05/2019,Monday,18/05/2020,All,All,All,$,0,56000000
29635,Reimports,2019,27/05/2019,Monday,25/05/2020,All,All,All,$,0,59000000
29642,Reimports,2019,03/06/2019,Monday,01/06/2020,All,All,All,$,0,63000000
29649,Reimports,2019,10/06/2019,Monday,08/06/2020,All,All,All,$,0,66000000
29654,Reimports,2020,03/02/2020,Monday,03/02/2020,All,All,All,$,0,1000000
29661,Reimports,2020,10/02/2020,Monday,10/02/2020,All,All,All,$,1000000,4000000
29668,Reimports,2020,17/02/2020,Monday,17/02/2020,All,All,All,$,1000000,8000000
29675,Reimports,2020,24/02/2020,Monday,24/02/2020,All,All,All,$,1000000,11000000
29682,Reimports,2020,02/03/2020,Monday,02/03/2020,All,All,All,$,1000000,14000000
29689,Reimports,2020,09/03/2020,Monday,09/03/2020,All,All,All,$,1000000,20000000
29696,Reimports,2020,16/03/2020,Monday,16/03/2020,All,All,All,$,1000000,22000000
29703,Reimports,2020,23/03/2020,Monday,23/03/2020,All,All,All,$,0,24000000
29710,Reimports,2020,30/03/2020,Monday,30/03/2020,All,All,All,$,1000000,28000000
29717,Reimports,2020,06/04/2020,Monday,06/04/2020,All,All,All,$,1000000,33000000
29724,Reimports,2020,13/04/2020,Monday,13/04/2020,All,All,All,$,0,34000000
29731,Reimports,2020,20/04/2020,Monday,20/04/2020,All,All,All,$,1000000,36000000
29738,Reimports,2020,27/04/2020,Monday,27/04/2020,All,All,All,$,1000000,40000000
29745,Reimports,2020,04/05/2020,Monday,04/05/2020,All,All,All,$,1000000,46000000
29752,Reimports,2020,11/05/2020,Monday,11/05/2020,All,All,All,$,0,48000000
29759,Reimports,2020,18/05/2020,Monday,18/05/2020,All,All,All,$,1000000,51000000
29766,Reimports,2020,25/05/2020,Monday,25/05/2020,All,All,All,$,0,54000000
29773,Reimports,2020,01/06/2020,Monday,01/06/2020,All,All,All,$,0,57000000
29780,Reimports,2020,08/06/2020,Monday,08/06/2020,All,All,All,$,0,62000000

In [108]:
high_value =(pub_df['Value']> 79000000)

In [109]:
pub_df.loc[high_value]

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
5,Exports,2015,05/02/2015,Thursday,06/02/2020,All,All,All,$,119000000,864000000
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
7,Exports,2015,07/02/2015,Saturday,08/02/2020,All,All,All,$,206000000,1198000000
8,Exports,2015,08/02/2015,Sunday,09/02/2020,All,All,All,$,114000000,1312000000
9,Exports,2015,09/02/2015,Monday,10/02/2020,All,All,All,$,202000000,1513000000
10,Exports,2015,10/02/2015,Tuesday,11/02/2020,All,All,All,$,88000000,1601000000
12,Exports,2015,12/02/2015,Thursday,13/02/2020,All,All,All,$,132000000,1801000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
14,Exports,2015,14/02/2015,Saturday,15/02/2020,All,All,All,$,146000000,2090000000
15,Exports,2015,15/02/2015,Sunday,16/02/2020,All,All,All,$,111000000,2201000000
16,Exports,2015,16/02/2015,Monday,17/02/2020,All,All,All,$,226000000,2427000000
17,Exports,2015,17/02/2015,Tuesday,18/02/2020,All,All,All,$,171000000,2599000000
18,Exports,2015,18/02/2015,Wednesday,19/02/2020,All,All,All,$,120000000,2718000000
19,Exports,2015,19/02/2015,Thursday,20/02/2020,All,All,All,$,157000000,2875000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
21,Exports,2015,21/02/2015,Saturday,22/02/2020,All,All,All,$,184000000,3216000000
22,Exports,2015,22/02/2015,Sunday,23/02/2020,All,All,All,$,135000000,3352000000
23,Exports,2015,23/02/2015,Monday,24/02/2020,All,All,All,$,185000000,3536000000
24,Exports,2015,24/02/2015,Tuesday,25/02/2020,All,All,All,$,94000000,3630000000
25,Exports,2015,25/02/2015,Wednesday,26/02/2020,All,All,All,$,113000000,3743000000
26,Exports,2015,26/02/2015,Thursday,27/02/2020,All,All,All,$,130000000,3873000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
28,Exports,2015,28/02/2015,Saturday,29/02/2020,All,All,All,$,145000000,4145000000
29,Exports,2015,01/03/2015,Sunday,01/03/2020,All,All,All,$,386000000,4531000000
30,Exports,2015,02/03/2015,Monday,02/03/2020,All,All,All,$,219000000,4750000000
31,Exports,2015,03/03/2015,Tuesday,03/03/2020,All,All,All,$,163000000,4913000000
...,...,...,...,...,...,...,...,...,...,...,...
28955,Imports,2020,30/04/2020,Thursday,30/04/2020,All,Non-food manufactured goods,All,$,107000000,9665000000
28956,Imports,2020,01/05/2020,Friday,01/05/2020,All,Non-food manufactured goods,All,$,177000000,9842000000
28959,Imports,2020,04/05/2020,Monday,04/05/2020,All,Non-food manufactured goods,All,$,136000000,10011000000
28960,Imports,2020,05/05/2020,Tuesday,05/05/2020,All,Non-food manufactured goods,All,$,131000000,10142000000
28961,Imports,2020,06/05/2020,Wednesday,06/05/2020,All,Non-food manufactured goods,All,$,114000000,10255000000
28962,Imports,2020,07/05/2020,Thursday,07/05/2020,All,Non-food manufactured goods,All,$,138000000,10393000000
28963,Imports,2020,08/05/2020,Friday,08/05/2020,All,Non-food manufactured goods,All,$,104000000,10497000000
28966,Imports,2020,11/05/2020,Monday,11/05/2020,All,Non-food manufactured goods,All,$,140000000,10668000000
28967,Imports,2020,12/05/2020,Tuesday,12/05/2020,All,Non-food manufactured goods,All,$,141000000,10809000000
28968,Imports,2020,13/05/2020,Wednesday,13/05/2020,All,Non-food manufactured goods,All,$,124000000,10933000000
28969,Imports,2020,14/05/2020,Thursday,14/05/2020,All,Non-food manufactured goods,All,$,123000000,11056000000
28970,Imports,2020,15/05/2020,Friday,15/05/2020,All,Non-food manufactured goods,All,$,115000000,11171000000
28973,Imports,2020,18/05/2020,Monday,18/05/2020,All,Non-food manufactured goods,All,$,164000000,11359000000
28974,Imports,2020,19/05/2020,Tuesday,19/05/2020,All,Non-food manufactured goods,All,$,173000000,11532000000
28975,Imports,2020,20/05/2020,Wednesday,20/05/2020,All,Non-food manufactured goods,All,$,109000000,11642000000
28976,Imports,2020,21/05/2020,Thursday,21/05/2020,All,Non-food manufactured goods,All,$,144000000,11785000000
28977,Imports,2020,22/05/2020,Friday,22/05/2020,All,Non-food manufactured goods,All,$,119000000,11905000000
28980,Imports,2020,25/05/2020,Monday,25/05/2020,All,Non-food manufactured goods,All,$,210000000,12159000000
28981,Imports,2020,26/05/2020,Tuesday,26/05/2020,All,Non-food manufactured goods,All,$,141000000,12300000000
28982,Imports,2020,27/05/2020,Wednesday,27/05/2020,All,Non-food manufactured goods,All,$,135000000,12435000000
28983,Imports,2020,28/05/2020,Thursday,28/05/2020,All,Non-food manufactured goods,All,$,111000000,12546000000
28984,Imports,2020,29/05/2020,Friday,29/05/2020,All,Non-food manufactured goods,All,$,114000000,12660000000
28987,Imports,2020,01/06/2020,Monday,01/06/2020,All,Non-food manufactured goods,All,$,85000000,12770000000
28988,Imports,2020,02/06/2020,Tuesday,02/06/2020,All,Non-food manufactured goods,All,$,177000000,12947000000
28989,Imports,2020,03/06/2020,Wednesday,03/06/2020,All,Non-food manufactured goods,All,$,136000000,13083000000
28990,Imports,2020,04/06/2020,Thursday,04/06/2020,All,Non-food manufactured goods,All,$,176000000,13259000000
28991,Imports,2020,05/06/2020,Friday,05/06/2020,All,Non-food manufactured goods,All,$,110000000,13369000000
28994,Imports,2020,08/06/2020,Monday,08/06/2020,All,Non-food manufactured goods,All,$,154000000,13579000000
28995,Imports,2020,09/06/2020,Tuesday,09/06/2020,All,Non-food manufactured goods,All,$,177000000,13756000000
28996,Imports,2020,10/06/2020,Wednesday,10/06/2020,All,Non-food manufactured goods,All,$,149000000,13904000000

In [115]:
high_value =(pub_df['Value']> 79000000)
pub_df.loc[high_value,['Date', 'Weekday', 'Value']]

             Date    Weekday      Value
0      31/01/2015   Saturday  257000000
1      01/02/2015     Sunday  123000000
2      02/02/2015     Monday  176000000
3      03/02/2015    Tuesday  115000000
5      05/02/2015   Thursday  119000000
6      06/02/2015     Friday  127000000
7      07/02/2015   Saturday  206000000
8      08/02/2015     Sunday  114000000
9      09/02/2015     Monday  202000000
10     10/02/2015    Tuesday   88000000
12     12/02/2015   Thursday  132000000
13     13/02/2015     Friday  143000000
14     14/02/2015   Saturday  146000000
15     15/02/2015     Sunday  111000000
16     16/02/2015     Monday  226000000
17     17/02/2015    Tuesday  171000000
18     18/02/2015  Wednesday  120000000
19     19/02/2015   Thursday  157000000
20     20/02/2015     Friday  157000000
21     21/02/2015   Saturday  184000000
22     22/02/2015     Sunday  135000000
23     23/02/2015     Monday  185000000
24     24/02/2015    Tuesday   94000000
25     25/02/2015  Wednesday  113000000
26     26/02/2015   Thursday  130000000
27     27/02/2015     Friday  127000000
28     28/02/2015   Saturday  145000000
29     01/03/2015     Sunday  386000000
30     02/03/2015     Monday  219000000
31     03/03/2015    Tuesday  163000000
...           ...        ...        ...
28955  30/04/2020   Thursday  107000000
28956  01/05/2020     Friday  177000000
28959  04/05/2020     Monday  136000000
28960  05/05/2020    Tuesday  131000000
28961  06/05/2020  Wednesday  114000000
28962  07/05/2020   Thursday  138000000
28963  08/05/2020     Friday  104000000
28966  11/05/2020     Monday  140000000
28967  12/05/2020    Tuesday  141000000
28968  13/05/2020  Wednesday  124000000
28969  14/05/2020   Thursday  123000000
28970  15/05/2020     Friday  115000000
28973  18/05/2020     Monday  164000000
28974  19/05/2020    Tuesday  173000000
28975  20/05/2020  Wednesday  109000000
28976  21/05/2020   Thursday  144000000
28977  22/05/2020     Friday  119000000
28980  25/05/2020     Monday  210000000
28981  26/05/2020    Tuesday  141000000
28982  27/05/2020  Wednesday  135000000
28983  28/05/2020   Thursday  111000000
28984  29/05/2020     Friday  114000000
28987  01/06/2020     Monday   85000000
28988  02/06/2020    Tuesday  177000000
28989  03/06/2020  Wednesday  136000000
28990  04/06/2020   Thursday  176000000
28991  05/06/2020     Friday  110000000
28994  08/06/2020     Monday  154000000
28995  09/06/2020    Tuesday  177000000
28996  10/06/2020  Wednesday  149000000

[3945 rows x 3 columns]

In [133]:

pub_df.columns = [d.lower() for d in pub_df.columns]

In [134]:
pub_df

,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000
5,Exports,2015,05/02/2015,Thursday,06/02/2020,All,All,All,$,119000000,864000000
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
7,Exports,2015,07/02/2015,Saturday,08/02/2020,All,All,All,$,206000000,1198000000
8,Exports,2015,08/02/2015,Sunday,09/02/2020,All,All,All,$,114000000,1312000000
9,Exports,2015,09/02/2015,Monday,10/02/2020,All,All,All,$,202000000,1513000000
10,Exports,2015,10/02/2015,Tuesday,11/02/2020,All,All,All,$,88000000,1601000000
11,Exports,2015,11/02/2015,Wednesday,12/02/2020,All,All,All,$,67000000,1669000000
12,Exports,2015,12/02/2015,Thursday,13/02/2020,All,All,All,$,132000000,1801000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
14,Exports,2015,14/02/2015,Saturday,15/02/2020,All,All,All,$,146000000,2090000000
15,Exports,2015,15/02/2015,Sunday,16/02/2020,All,All,All,$,111000000,2201000000
16,Exports,2015,16/02/2015,Monday,17/02/2020,All,All,All,$,226000000,2427000000
17,Exports,2015,17/02/2015,Tuesday,18/02/2020,All,All,All,$,171000000,2599000000
18,Exports,2015,18/02/2015,Wednesday,19/02/2020,All,All,All,$,120000000,2718000000
19,Exports,2015,19/02/2015,Thursday,20/02/2020,All,All,All,$,157000000,2875000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
21,Exports,2015,21/02/2015,Saturday,22/02/2020,All,All,All,$,184000000,3216000000
22,Exports,2015,22/02/2015,Sunday,23/02/2020,All,All,All,$,135000000,3352000000
23,Exports,2015,23/02/2015,Monday,24/02/2020,All,All,All,$,185000000,3536000000
24,Exports,2015,24/02/2015,Tuesday,25/02/2020,All,All,All,$,94000000,3630000000
25,Exports,2015,25/02/2015,Wednesday,26/02/2020,All,All,All,$,113000000,3743000000
26,Exports,2015,26/02/2015,Thursday,27/02/2020,All,All,All,$,130000000,3873000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
28,Exports,2015,28/02/2015,Saturday,29/02/2020,All,All,All,$,145000000,4145000000
29,Exports,2015,01/03/2015,Sunday,01/03/2020,All,All,All,$,386000000,4531000000
...,...,...,...,...,...,...,...,...,...,...,...
29753,Reimports,2020,12/05/2020,Tuesday,12/05/2020,All,All,All,$,1000000,49000000
29754,Reimports,2020,13/05/2020,Wednesday,13/05/2020,All,All,All,$,1000000,50000000
29755,Reimports,2020,14/05/2020,Thursday,14/05/2020,All,All,All,$,0,50000000
29756,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
29757,Reimports,2020,16/05/2020,Saturday,16/05/2020,All,All,All,$,0,51000000
29758,Reimports,2020,17/05/2020,Sunday,17/05/2020,All,All,All,$,0,51000000
29759,Reimports,2020,18/05/2020,Monday,18/05/2020,All,All,All,$,1000000,51000000
29760,Reimports,2020,19/05/2020,Tuesday,19/05/2020,All,All,All,$,0,52000000
29761,Reimports,2020,20/05/2020,Wednesday,20/05/2020,All,All,All,$,0,52000000
29762,Reimports,2020,21/05/2020,Thursday,21/05/2020,All,All,All,$,0,52000000
29763,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
29764,Reimports,2020,23/05/2020,Saturday,23/05/2020,All,All,All,$,0,54000000
29765,Reimports,2020,24/05/2020,Sunday,24/05/2020,All,All,All,$,0,54000000
29766,Reimports,2020,25/05/2020,Monday,25/05/2020,All,All,All,$,0,54000000
29767,Reimports,2020,26/05/2020,Tuesday,26/05/2020,All,All,All,$,0,54000000
29768,Reimports,2020,27/05/2020,Wednesday,27/05/2020,All,All,All,$,2000000,56000000
29769,Reimports,2020,28/05/2020,Thursday,28/05/2020,All,All,All,$,1000000,57000000
29770,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,All,$,0,57000000
29771,Reimports,2020,30/05/2020,Saturday,30/05/2020,All,All,All,$,0,57000000
29772,Reimports,2020,31/05/2020,Sunday,31/05/2020,All,All,All,$,0,57000000
29773,Reimports,2020,01/06/2020,Monday,01/06/2020,All,All,All,$,0,57000000
29774,Reimports,2020,02/06/2020,Tuesday,02/06/2020,All,All,All,$,1000000,58000000
29775,Reimports,2020,03/06/2020,Wednesday,03/06/2020,All,All,All,$,1000000,59000000
29776,Reimports,2020,04/06/2020,Thursday,04/06/2020,All,All,All,$,2000000,61000000
29777,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,All,$,1000000,62000000
29778,Reimports,2020,06/06/2020,Saturday,06/06/2020,All,All,All,$,0,62000000
29779,Reimports,2020,07/06/2020,Sunday,07/06/2020,All,All,All,$,0,62000000
29780,Reimports,2020,08/06/2020,Monday,08/06/2020,All,All,All,$,0,62000000
29781,Reimports,2020,09/06/2020,Tuesday,09/06/2020,All,All,All,$,0,62000000
29782,Reimports,2020,10/06/2020,Wednesday,10/06/2020,All,All,All,$,1000000,64000000

In [136]:
pub_df.apply(pd.Series.max)

direction             Reimports
year                       2020
date                 31/05/2020
weekday               Wednesday
current_match        31/05/2020
country           United States
commodity               Seafood
transport_mode              Sea
measure                  Tonnes
value                 396000000
cumulative          23334000000
dtype: object

In [138]:
pub_df.drop(columns=['date'])

,direction,year,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
0,Exports,2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000
5,Exports,2015,Thursday,06/02/2020,All,All,All,$,119000000,864000000
6,Exports,2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
7,Exports,2015,Saturday,08/02/2020,All,All,All,$,206000000,1198000000
8,Exports,2015,Sunday,09/02/2020,All,All,All,$,114000000,1312000000
9,Exports,2015,Monday,10/02/2020,All,All,All,$,202000000,1513000000
10,Exports,2015,Tuesday,11/02/2020,All,All,All,$,88000000,1601000000
11,Exports,2015,Wednesday,12/02/2020,All,All,All,$,67000000,1669000000
12,Exports,2015,Thursday,13/02/2020,All,All,All,$,132000000,1801000000
13,Exports,2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
14,Exports,2015,Saturday,15/02/2020,All,All,All,$,146000000,2090000000
15,Exports,2015,Sunday,16/02/2020,All,All,All,$,111000000,2201000000
16,Exports,2015,Monday,17/02/2020,All,All,All,$,226000000,2427000000
17,Exports,2015,Tuesday,18/02/2020,All,All,All,$,171000000,2599000000
18,Exports,2015,Wednesday,19/02/2020,All,All,All,$,120000000,2718000000
19,Exports,2015,Thursday,20/02/2020,All,All,All,$,157000000,2875000000
20,Exports,2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
21,Exports,2015,Saturday,22/02/2020,All,All,All,$,184000000,3216000000
22,Exports,2015,Sunday,23/02/2020,All,All,All,$,135000000,3352000000
23,Exports,2015,Monday,24/02/2020,All,All,All,$,185000000,3536000000
24,Exports,2015,Tuesday,25/02/2020,All,All,All,$,94000000,3630000000
25,Exports,2015,Wednesday,26/02/2020,All,All,All,$,113000000,3743000000
26,Exports,2015,Thursday,27/02/2020,All,All,All,$,130000000,3873000000
27,Exports,2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
28,Exports,2015,Saturday,29/02/2020,All,All,All,$,145000000,4145000000
29,Exports,2015,Sunday,01/03/2020,All,All,All,$,386000000,4531000000
...,...,...,...,...,...,...,...,...,...,...
29753,Reimports,2020,Tuesday,12/05/2020,All,All,All,$,1000000,49000000
29754,Reimports,2020,Wednesday,13/05/2020,All,All,All,$,1000000,50000000
29755,Reimports,2020,Thursday,14/05/2020,All,All,All,$,0,50000000
29756,Reimports,2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
29757,Reimports,2020,Saturday,16/05/2020,All,All,All,$,0,51000000
29758,Reimports,2020,Sunday,17/05/2020,All,All,All,$,0,51000000
29759,Reimports,2020,Monday,18/05/2020,All,All,All,$,1000000,51000000
29760,Reimports,2020,Tuesday,19/05/2020,All,All,All,$,0,52000000
29761,Reimports,2020,Wednesday,20/05/2020,All,All,All,$,0,52000000
29762,Reimports,2020,Thursday,21/05/2020,All,All,All,$,0,52000000
29763,Reimports,2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
29764,Reimports,2020,Saturday,23/05/2020,All,All,All,$,0,54000000
29765,Reimports,2020,Sunday,24/05/2020,All,All,All,$,0,54000000
29766,Reimports,2020,Monday,25/05/2020,All,All,All,$,0,54000000
29767,Reimports,2020,Tuesday,26/05/2020,All,All,All,$,0,54000000
29768,Reimports,2020,Wednesday,27/05/2020,All,All,All,$,2000000,56000000
29769,Reimports,2020,Thursday,28/05/2020,All,All,All,$,1000000,57000000
29770,Reimports,2020,Friday,29/05/2020,All,All,All,$,0,57000000
29771,Reimports,2020,Saturday,30/05/2020,All,All,All,$,0,57000000
29772,Reimports,2020,Sunday,31/05/2020,All,All,All,$,0,57000000
29773,Reimports,2020,Monday,01/06/2020,All,All,All,$,0,57000000
29774,Reimports,2020,Tuesday,02/06/2020,All,All,All,$,1000000,58000000
29775,Reimports,2020,Wednesday,03/06/2020,All,All,All,$,1000000,59000000
29776,Reimports,2020,Thursday,04/06/2020,All,All,All,$,2000000,61000000
29777,Reimports,2020,Friday,05/06/2020,All,All,All,$,1000000,62000000
29778,Reimports,2020,Saturday,06/06/2020,All,All,All,$,0,62000000
29779,Reimports,2020,Sunday,07/06/2020,All,All,All,$,0,62000000
29780,Reimports,2020,Monday,08/06/2020,All,All,All,$,0,62000000
29781,Reimports,2020,Tuesday,09/06/2020,All,All,All,$,0,62000000
29782,Reimports,2020,Wednesday,10/06/2020,All,All,All,$,1000000,64000000

In [140]:
pub_df.sort_values(by='country')

,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
19306,Exports,2019,05/02/2019,Tuesday,04/02/2020,All,Non-food manufactured goods,All,$,32000000,118000000
19305,Exports,2019,04/02/2019,Monday,03/02/2020,All,Non-food manufactured goods,All,$,27000000,86000000
19304,Exports,2019,03/02/2019,Sunday,02/02/2020,All,Non-food manufactured goods,All,$,21000000,59000000
19303,Exports,2019,02/02/2019,Saturday,01/02/2020,All,Non-food manufactured goods,All,$,38000000,38000000
19302,Exports,2018,13/06/2018,Wednesday,10/06/2020,All,Non-food manufactured goods,All,$,28000000,4752000000
19301,Exports,2018,12/06/2018,Tuesday,09/06/2020,All,Non-food manufactured goods,All,$,31000000,4724000000
19300,Exports,2018,11/06/2018,Monday,08/06/2020,All,Non-food manufactured goods,All,$,45000000,4692000000
19299,Exports,2018,10/06/2018,Sunday,07/06/2020,All,Non-food manufactured goods,All,$,57000000,4648000000
19298,Exports,2018,09/06/2018,Saturday,06/06/2020,All,Non-food manufactured goods,All,$,19000000,4590000000
19297,Exports,2018,08/06/2018,Friday,05/06/2020,All,Non-food manufactured goods,All,$,41000000,4571000000
19296,Exports,2018,07/06/2018,Thursday,04/06/2020,All,Non-food manufactured goods,All,$,30000000,4530000000
19295,Exports,2018,06/06/2018,Wednesday,03/06/2020,All,Non-food manufactured goods,All,$,31000000,4500000000
19294,Exports,2018,05/06/2018,Tuesday,02/06/2020,All,Non-food manufactured goods,All,$,31000000,4469000000
19293,Exports,2018,04/06/2018,Monday,01/06/2020,All,Non-food manufactured goods,All,$,36000000,4439000000
19292,Exports,2018,03/06/2018,Sunday,31/05/2020,All,Non-food manufactured goods,All,$,30000000,4402000000
19307,Exports,2019,06/02/2019,Wednesday,05/02/2020,All,Non-food manufactured goods,All,$,28000000,146000000
19291,Exports,2018,02/06/2018,Saturday,30/05/2020,All,Non-food manufactured goods,All,$,34000000,4372000000
19308,Exports,2019,07/02/2019,Thursday,06/02/2020,All,Non-food manufactured goods,All,$,35000000,181000000
19310,Exports,2019,09/02/2019,Saturday,08/02/2020,All,Non-food manufactured goods,All,$,20000000,237000000
19325,Exports,2019,24/02/2019,Sunday,23/02/2020,All,Non-food manufactured goods,All,$,19000000,708000000
19324,Exports,2019,23/02/2019,Saturday,22/02/2020,All,Non-food manufactured goods,All,$,28000000,689000000
19323,Exports,2019,22/02/2019,Friday,21/02/2020,All,Non-food manufactured goods,All,$,41000000,661000000
19322,Exports,2019,21/02/2019,Thursday,20/02/2020,All,Non-food manufactured goods,All,$,29000000,620000000
19321,Exports,2019,20/02/2019,Wednesday,19/02/2020,All,Non-food manufactured goods,All,$,31000000,591000000
19320,Exports,2019,19/02/2019,Tuesday,18/02/2020,All,Non-food manufactured goods,All,$,103000000,560000000
19319,Exports,2019,18/02/2019,Monday,17/02/2020,All,Non-food manufactured goods,All,$,22000000,457000000
19318,Exports,2019,17/02/2019,Sunday,16/02/2020,All,Non-food manufactured goods,All,$,22000000,435000000
19317,Exports,2019,16/02/2019,Saturday,15/02/2020,All,Non-food manufactured goods,All,$,20000000,412000000
19316,Exports,2019,15/02/2019,Friday,14/02/2020,All,Non-food manufactured goods,All,$,36000000,392000000
...,...,...,...,...,...,...,...,...,...,...,...
17526,Exports,2017,23/02/2017,Thursday,20/02/2020,United States,Meat,All,$,6000000,118000000
17527,Exports,2017,24/02/2017,Friday,21/02/2020,United States,Meat,All,$,2000000,120000000
17528,Exports,2017,25/02/2017,Saturday,22/02/2020,United States,Meat,All,$,0,120000000
17519,Exports,2017,16/02/2017,Thursday,13/02/2020,United States,Meat,All,$,13000000,77000000
17507,Exports,2016,08/06/2016,Wednesday,10/06/2020,United States,Meat,All,$,2000000,778000000
17506,Exports,2016,07/06/2016,Tuesday,09/06/2020,United States,Meat,All,$,5000000,776000000
17505,Exports,2016,06/06/2016,Monday,08/06/2020,United States,Meat,All,$,1000000,771000000
17484,Exports,2016,14/05/2016,Saturday,16/05/2020,United States,Meat,All,$,5000000,615000000
17485,Exports,2016,15/05/2016,Sunday,17/05/2020,United States,Meat,All,$,16000000,631000000
17486,Exports,2016,16/05/2016,Monday,18/05/2020,United States,Meat,All,$,2000000,633000000
17487,Exports,2016,17/05/2016,Tuesday,19/05/2020,United States,Meat,All,$,3000000,636000000
17488,Exports,2016,19/05/2016,Thursday,21/05/2020,United States,Meat,All,$,8000000,644000000
17489,Exports,2016,20/05/2016,Friday,22/05/2020,United States,Meat,All,$,2000000,645000000
17490,Exports,2016,21/05/2016,Saturday,23/05/2020,United States,Meat,All,$,0,646000000
17491,Exports,2016,22/05/2016,Sunday,24/05/2020,United States,Meat,All,$,28000000,674000000
17492,Exports,2016,23/05/2016,Monday,25/05/2020,United States,Meat,All,$,0,674000000
17493,Exports,2016,24/05/2016,Tuesday,26/05/2020,United States,Meat,All,$,2000000,677000000
17494,Exports,2016,25/05/2016,Wednesday,27/05/2020,United States,Meat,All,$,4000000,681000000
17495,Exports,2016,26/05/2016,Thursday,28/05/2020,United States,Meat,All,$,7000000,688000000
17496,Exports,2016,27/05/2016,Friday,29/05/2020,United States,Meat,All,$,3000000,691000000
17497,Exports,2016,28/05/2016,Saturday,30/05/2020,United States,Meat,All,$,12000000,703000000
17498,Exports,2016,29/05/2016,Sunday,31/05/2020,United States,Meat,All,$,18000000,721000000
17499,Exports,2016,30/05/2016,Monday,01/06/2020,United States,Meat,All,$,2000000,723000000
17500,Exports,2016,31/05/2016,Tuesday,02/06/2020,United States,Meat,All,$,3000000,726000000
17501,Exports,2016,01/06/2016,Wednesday,03/06/2020,United States,Meat,All,$,0,726000000
17502,Exports,2016,02/06/2016,Thursday,04/06/2020,United States,Meat,All,$,8000000,733000000
17503,Exports,2016,03/06/2016,Friday,05/06/2020,United States,Meat,All,$,1000000,735000000
17504,Exports,2016,05/06/2016,Sunday,07/06/2020,United States,Meat,All,$,35000000,770000000
17530,Exports,2017,27/02/2017,Monday,24/02/2020,United States,Meat,All,$,0,136000000
18777,Exports,2020,09/06/2020,Tuesday,09/06/2020,United States,Meat,All,Tonnes,0,90000

In [141]:
pub_df['value'].nlargest(10)

23301    396000000
29       386000000
23342    386000000
23418    381000000
541      373000000
7103     373000000
152      367000000
7615     357000000
23347    354000000
7226     353000000
Name: value, dtype: int64

In [142]:
pub_df.iloc[152]

direction            Exports
year                    2016
date              20/02/2016
weekday             Saturday
current_match     22/02/2020
country                  All
commodity                All
transport_mode           All
measure                    $
value              367000000
cumulative        3359000000
Name: 152, dtype: object

In [143]:
pub_df.mean

<bound method DataFrame.mean of        direction  year        date    weekday current_match country commodity  \
0        Exports  2015  31/01/2015   Saturday    01/02/2020     All       All
1        Exports  2015  01/02/2015     Sunday    02/02/2020     All       All
2        Exports  2015  02/02/2015     Monday    03/02/2020     All       All
3        Exports  2015  03/02/2015    Tuesday    04/02/2020     All       All
4        Exports  2015  04/02/2015  Wednesday    05/02/2020     All       All
5        Exports  2015  05/02/2015   Thursday    06/02/2020     All       All
6        Exports  2015  06/02/2015     Friday    07/02/2020     All       All
7        Exports  2015  07/02/2015   Saturday    08/02/2020     All       All
8        Exports  2015  08/02/2015     Sunday    09/02/2020     All       All
9        Exports  2015  09/02/2015     Monday    10/02/2020     All       All
10       Exports  2015  10/02/2015    Tuesday    11/02/2020     All       All
11       Exports  2015  11/02/2015  Wednesday    12/02/2020     All       All
12       Exports  2015  12/02/2015   Thursday    13/02/2020     All       All
13       Exports  2015  13/02/2015     Friday    14/02/2020     All       All
14       Exports  2015  14/02/2015   Saturday    15/02/2020     All       All
15       Exports  2015  15/02/2015     Sunday    16/02/2020     All       All
16       Exports  2015  16/02/2015     Monday    17/02/2020     All       All
17       Exports  2015  17/02/2015    Tuesday    18/02/2020     All       All
18       Exports  2015  18/02/2015  Wednesday    19/02/2020     All       All
19       Exports  2015  19/02/2015   Thursday    20/02/2020     All       All
20       Exports  2015  20/02/2015     Friday    21/02/2020     All       All
21       Exports  2015  21/02/2015   Saturday    22/02/2020     All       All
22       Exports  2015  22/02/2015     Sunday    23/02/2020     All       All
23       Exports  2015  23/02/2015     Monday    24/02/2020     All       All
24       Exports  2015  24/02/2015    Tuesday    25/02/2020     All       All
25       Exports  2015  25/02/2015  Wednesday    26/02/2020     All       All
26       Exports  2015  26/02/2015   Thursday    27/02/2020     All       All
27       Exports  2015  27/02/2015     Friday    28/02/2020     All       All
28       Exports  2015  28/02/2015   Saturday    29/02/2020     All       All
29       Exports  2015  01/03/2015     Sunday    01/03/2020     All       All
...          ...   ...         ...        ...           ...     ...       ...
29753  Reimports  2020  12/05/2020    Tuesday    12/05/2020     All       All
29754  Reimports  2020  13/05/2020  Wednesday    13/05/2020     All       All
29755  Reimports  2020  14/05/2020   Thursday    14/05/2020     All       All
29756  Reimports  2020  15/05/2020     Friday    15/05/2020     All       All
29757  Reimports  2020  16/05/2020   Saturday    16/05/2020     All       All
29758  Reimports  2020  17/05/2020     Sunday    17/05/2020     All       All
29759  Reimports  2020  18/05/2020     Monday    18/05/2020     All       All
29760  Reimports  2020  19/05/2020    Tuesday    19/05/2020     All       All
29761  Reimports  2020  20/05/2020  Wednesday    20/05/2020     All       All
29762  Reimports  2020  21/05/2020   Thursday    21/05/2020     All       All
29763  Reimports  2020  22/05/2020     Friday    22/05/2020     All       All
29764  Reimports  2020  23/05/2020   Saturday    23/05/2020     All       All
29765  Reimports  2020  24/05/2020     Sunday    24/05/2020     All       All
29766  Reimports  2020  25/05/2020     Monday    25/05/2020     All       All
29767  Reimports  2020  26/05/2020    Tuesday    26/05/2020     All       All
29768  Reimports  2020  27/05/2020  Wednesday    27/05/2020     All       All
29769  Reimports  2020  28/05/2020   Thursday    28/05/2020     All       All
29770  Reimports  2020  29/05/2020     Friday    29/05/2020     All       All
29771  Reimports  2020  30/05/2020   Saturday    30/05/2020     All       All
29772  Reimports  2020  31/05/2020     Sunday    31/05/2020     All       All
29773  Reimports  2020  01/06/2020     Monday    01/06/2020     All       All
29774  Reimports  2020  02/06/2020    Tuesday    02/06/2020     All       All
29775  Reimports  2020  03/06/2020  Wednesday    03/06/2020     All       All
29776  Reimports  2020  04/06/2020   Thursday    04/06/2020     All       All
29777  Reimports  2020  05/06/2020     Friday    05/06/2020     All       All
29778  Reimports  2020  06/06/2020   Saturday    06/06/2020     All       All
29779  Reimports  2020  07/06/2020     Sunday    07/06/2020     All       All
29780  Reimports  2020  08/06/2020     Monday    08/06/2020     All       All
29781  Reimports  2020  09/06/2020    Tuesday    09/06/2020     All       All
29782  Reimports  2020  10/06/2020  Wednesday    10/06/2020     All       All

      transport_mode measure      value  cumulative
0                All       $  257000000   257000000
1                All       $  123000000   380000000
2                All       $  176000000   556000000
3                All       $  115000000   671000000
4                All       $   74000000   746000000
5                All       $  119000000   864000000
6                All       $  127000000   992000000
7                All       $  206000000  1198000000
8                All       $  114000000  1312000000
9                All       $  202000000  1513000000
10               All       $   88000000  1601000000
11               All       $   67000000  1669000000
12               All       $  132000000  1801000000
13               All       $  143000000  1944000000
14               All       $  146000000  2090000000
15               All       $  111000000  2201000000
16               All       $  226000000  2427000000
17               All       $  171000000  2599000000
18               All       $  120000000  2718000000
19               All       $  157000000  2875000000
20               All       $  157000000  3032000000
21               All       $  184000000  3216000000
22               All       $  135000000  3352000000
23               All       $  185000000  3536000000
24               All       $   94000000  3630000000
25               All       $  113000000  3743000000
26               All       $  130000000  3873000000
27               All       $  127000000  4000000000
28               All       $  145000000  4145000000
29               All       $  386000000  4531000000
...              ...     ...        ...         ...
29753            All       $    1000000    49000000
29754            All       $    1000000    50000000
29755            All       $          0    50000000
29756            All       $    1000000    51000000
29757            All       $          0    51000000
29758            All       $          0    51000000
29759            All       $    1000000    51000000
29760            All       $          0    52000000
29761            All       $          0    52000000
29762            All       $          0    52000000
29763            All       $    1000000    53000000
29764            All       $          0    54000000
29765            All       $          0    54000000
29766            All       $          0    54000000
29767            All       $          0    54000000
29768            All       $    2000000    56000000
29769            All       $    1000000    57000000
29770            All       $          0    57000000
29771            All       $          0    57000000
29772            All       $          0    57000000
29773            All       $          0    57000000
29774            All       $    1000000    58000000
29775            All       $    1000000    59000000
29776            All       $    2000000    61000000
29777            All       $    1000000    62000000
29778            All       $          0    62000000
29779            All       $          0    62000000
29780            All       $          0    62000000
29781            All       $          0    62000000
29782            All       $    1000000    64000000

[29783 rows x 11 columns]>

In [145]:
pub_df.describe()

               year         value    cumulative
count  29783.000000  2.978300e+04  2.978300e+04
mean    2017.497599  3.257695e+07  2.127959e+09
std        1.707210  5.362694e+07  3.704585e+09
min     2015.000000  0.000000e+00  0.000000e+00
25%     2016.000000  1.000000e+06  4.100000e+07
50%     2017.000000  1.100000e+07  6.610000e+08
75%     2019.000000  3.400000e+07  2.190000e+09
max     2020.000000  3.960000e+08  2.333400e+10

In [146]:
pub_df['value'].value_counts()

0            1722
1000000      1259
1000         1235
2000000      1088
3000000       831
4000000       795
2000          754
5000000       723
6000000       679
9000000       558
8000000       553
7000000       552
12000000      546
3000          540
10000000      528
14000000      517
11000000      489
13000000      471
15000000      469
16000000      395
17000000      377
18000000      369
20000000      368
4000          342
21000000      337
22000000      315
19000000      311
23000000      309
24000000      281
25000000      275
             ...
205000          1
156000          1
141000          1
170000          1
265000000       1
352000000       1
357000000       1
323000000       1
202000          1
298000000       1
168000          1
297000000       1
186000          1
336000000       1
291000000       1
261000000       1
135000          1
381000000       1
290000000       1
322000000       1
300000000       1
171000          1
137000          1
151000          1
154000          1
353000000       1
348000000       1
126000          1
332000000       1
188000          1
Name: value, Length: 497, dtype: int64

In [147]:
pub_df['value'].value_counts(normalize= True)

0            0.057818
1000000      0.042272
1000         0.041467
2000000      0.036531
3000000      0.027902
4000000      0.026693
2000         0.025316
5000000      0.024276
6000000      0.022798
9000000      0.018736
8000000      0.018568
7000000      0.018534
12000000     0.018333
3000         0.018131
10000000     0.017728
14000000     0.017359
11000000     0.016419
13000000     0.015814
15000000     0.015747
16000000     0.013263
17000000     0.012658
18000000     0.012390
20000000     0.012356
4000         0.011483
21000000     0.011315
22000000     0.010577
19000000     0.010442
23000000     0.010375
24000000     0.009435
25000000     0.009233
               ...
205000       0.000034
156000       0.000034
141000       0.000034
170000       0.000034
265000000    0.000034
352000000    0.000034
357000000    0.000034
323000000    0.000034
202000       0.000034
298000000    0.000034
168000       0.000034
297000000    0.000034
186000       0.000034
336000000    0.000034
291000000    0.000034
261000000    0.000034
135000       0.000034
381000000    0.000034
290000000    0.000034
322000000    0.000034
300000000    0.000034
171000       0.000034
137000       0.000034
151000       0.000034
154000       0.000034
353000000    0.000034
348000000    0.000034
126000       0.000034
332000000    0.000034
188000       0.000034
Name: value, Length: 497, dtype: float64

In [149]:
pub_df

,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000
5,Exports,2015,05/02/2015,Thursday,06/02/2020,All,All,All,$,119000000,864000000
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
7,Exports,2015,07/02/2015,Saturday,08/02/2020,All,All,All,$,206000000,1198000000
8,Exports,2015,08/02/2015,Sunday,09/02/2020,All,All,All,$,114000000,1312000000
9,Exports,2015,09/02/2015,Monday,10/02/2020,All,All,All,$,202000000,1513000000
10,Exports,2015,10/02/2015,Tuesday,11/02/2020,All,All,All,$,88000000,1601000000
11,Exports,2015,11/02/2015,Wednesday,12/02/2020,All,All,All,$,67000000,1669000000
12,Exports,2015,12/02/2015,Thursday,13/02/2020,All,All,All,$,132000000,1801000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
14,Exports,2015,14/02/2015,Saturday,15/02/2020,All,All,All,$,146000000,2090000000
15,Exports,2015,15/02/2015,Sunday,16/02/2020,All,All,All,$,111000000,2201000000
16,Exports,2015,16/02/2015,Monday,17/02/2020,All,All,All,$,226000000,2427000000
17,Exports,2015,17/02/2015,Tuesday,18/02/2020,All,All,All,$,171000000,2599000000
18,Exports,2015,18/02/2015,Wednesday,19/02/2020,All,All,All,$,120000000,2718000000
19,Exports,2015,19/02/2015,Thursday,20/02/2020,All,All,All,$,157000000,2875000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
21,Exports,2015,21/02/2015,Saturday,22/02/2020,All,All,All,$,184000000,3216000000
22,Exports,2015,22/02/2015,Sunday,23/02/2020,All,All,All,$,135000000,3352000000
23,Exports,2015,23/02/2015,Monday,24/02/2020,All,All,All,$,185000000,3536000000
24,Exports,2015,24/02/2015,Tuesday,25/02/2020,All,All,All,$,94000000,3630000000
25,Exports,2015,25/02/2015,Wednesday,26/02/2020,All,All,All,$,113000000,3743000000
26,Exports,2015,26/02/2015,Thursday,27/02/2020,All,All,All,$,130000000,3873000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
28,Exports,2015,28/02/2015,Saturday,29/02/2020,All,All,All,$,145000000,4145000000
29,Exports,2015,01/03/2015,Sunday,01/03/2020,All,All,All,$,386000000,4531000000
...,...,...,...,...,...,...,...,...,...,...,...
29753,Reimports,2020,12/05/2020,Tuesday,12/05/2020,All,All,All,$,1000000,49000000
29754,Reimports,2020,13/05/2020,Wednesday,13/05/2020,All,All,All,$,1000000,50000000
29755,Reimports,2020,14/05/2020,Thursday,14/05/2020,All,All,All,$,0,50000000
29756,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
29757,Reimports,2020,16/05/2020,Saturday,16/05/2020,All,All,All,$,0,51000000
29758,Reimports,2020,17/05/2020,Sunday,17/05/2020,All,All,All,$,0,51000000
29759,Reimports,2020,18/05/2020,Monday,18/05/2020,All,All,All,$,1000000,51000000
29760,Reimports,2020,19/05/2020,Tuesday,19/05/2020,All,All,All,$,0,52000000
29761,Reimports,2020,20/05/2020,Wednesday,20/05/2020,All,All,All,$,0,52000000
29762,Reimports,2020,21/05/2020,Thursday,21/05/2020,All,All,All,$,0,52000000
29763,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
29764,Reimports,2020,23/05/2020,Saturday,23/05/2020,All,All,All,$,0,54000000
29765,Reimports,2020,24/05/2020,Sunday,24/05/2020,All,All,All,$,0,54000000
29766,Reimports,2020,25/05/2020,Monday,25/05/2020,All,All,All,$,0,54000000
29767,Reimports,2020,26/05/2020,Tuesday,26/05/2020,All,All,All,$,0,54000000
29768,Reimports,2020,27/05/2020,Wednesday,27/05/2020,All,All,All,$,2000000,56000000
29769,Reimports,2020,28/05/2020,Thursday,28/05/2020,All,All,All,$,1000000,57000000
29770,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,All,$,0,57000000
29771,Reimports,2020,30/05/2020,Saturday,30/05/2020,All,All,All,$,0,57000000
29772,Reimports,2020,31/05/2020,Sunday,31/05/2020,All,All,All,$,0,57000000
29773,Reimports,2020,01/06/2020,Monday,01/06/2020,All,All,All,$,0,57000000
29774,Reimports,2020,02/06/2020,Tuesday,02/06/2020,All,All,All,$,1000000,58000000
29775,Reimports,2020,03/06/2020,Wednesday,03/06/2020,All,All,All,$,1000000,59000000
29776,Reimports,2020,04/06/2020,Thursday,04/06/2020,All,All,All,$,2000000,61000000
29777,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,All,$,1000000,62000000
29778,Reimports,2020,06/06/2020,Saturday,06/06/2020,All,All,All,$,0,62000000
29779,Reimports,2020,07/06/2020,Sunday,07/06/2020,All,All,All,$,0,62000000
29780,Reimports,2020,08/06/2020,Monday,08/06/2020,All,All,All,$,0,62000000
29781,Reimports,2020,09/06/2020,Tuesday,09/06/2020,All,All,All,$,0,62000000
29782,Reimports,2020,10/06/2020,Wednesday,10/06/2020,All,All,All,$,1000000,64000000

In [150]:
gender_grp = pub_df.groupby(['weekday'])

In [151]:
gender_grp.get_group('Friday')

,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
34,Exports,2015,06/03/2015,Friday,06/03/2020,All,All,All,$,153000000,5350000000
41,Exports,2015,13/03/2015,Friday,13/03/2020,All,All,All,$,130000000,6339000000
48,Exports,2015,20/03/2015,Friday,20/03/2020,All,All,All,$,131000000,7306000000
55,Exports,2015,27/03/2015,Friday,27/03/2020,All,All,All,$,117000000,8364000000
62,Exports,2015,03/04/2015,Friday,03/04/2020,All,All,All,$,158000000,9427000000
69,Exports,2015,10/04/2015,Friday,10/04/2020,All,All,All,$,126000000,10414000000
76,Exports,2015,17/04/2015,Friday,17/04/2020,All,All,All,$,122000000,11372000000
83,Exports,2015,24/04/2015,Friday,24/04/2020,All,All,All,$,154000000,12368000000
90,Exports,2015,01/05/2015,Friday,01/05/2020,All,All,All,$,121000000,13305000000
97,Exports,2015,08/05/2015,Friday,08/05/2020,All,All,All,$,199000000,14297000000
104,Exports,2015,15/05/2015,Friday,15/05/2020,All,All,All,$,191000000,15235000000
111,Exports,2015,22/05/2015,Friday,22/05/2020,All,All,All,$,200000000,16260000000
118,Exports,2015,29/05/2015,Friday,29/05/2020,All,All,All,$,158000000,17154000000
125,Exports,2015,05/06/2015,Friday,05/06/2020,All,All,All,$,168000000,18173000000
137,Exports,2016,05/02/2016,Friday,07/02/2020,All,All,All,$,162000000,1157000000
144,Exports,2016,12/02/2016,Friday,14/02/2020,All,All,All,$,171000000,2001000000
151,Exports,2016,19/02/2016,Friday,21/02/2020,All,All,All,$,122000000,2993000000
158,Exports,2016,26/02/2016,Friday,28/02/2020,All,All,All,$,163000000,4121000000
165,Exports,2016,04/03/2016,Friday,06/03/2020,All,All,All,$,168000000,5237000000
172,Exports,2016,11/03/2016,Friday,13/03/2020,All,All,All,$,122000000,6095000000
179,Exports,2016,18/03/2016,Friday,20/03/2020,All,All,All,$,189000000,7155000000
186,Exports,2016,25/03/2016,Friday,27/03/2020,All,All,All,$,135000000,7991000000
193,Exports,2016,01/04/2016,Friday,03/04/2020,All,All,All,$,156000000,9074000000
200,Exports,2016,08/04/2016,Friday,10/04/2020,All,All,All,$,118000000,9818000000
207,Exports,2016,15/04/2016,Friday,17/04/2020,All,All,All,$,219000000,11009000000
214,Exports,2016,22/04/2016,Friday,24/04/2020,All,All,All,$,145000000,11946000000
...,...,...,...,...,...,...,...,...,...,...,...
29569,Reimports,2019,22/03/2019,Friday,20/03/2020,All,All,All,$,1000000,24000000
29576,Reimports,2019,29/03/2019,Friday,27/03/2020,All,All,All,$,1000000,27000000
29583,Reimports,2019,05/04/2019,Friday,03/04/2020,All,All,All,$,1000000,31000000
29590,Reimports,2019,12/04/2019,Friday,10/04/2020,All,All,All,$,2000000,35000000
29597,Reimports,2019,19/04/2019,Friday,17/04/2020,All,All,All,$,0,42000000
29604,Reimports,2019,26/04/2019,Friday,24/04/2020,All,All,All,$,0,45000000
29611,Reimports,2019,03/05/2019,Friday,01/05/2020,All,All,All,$,3000000,49000000
29618,Reimports,2019,10/05/2019,Friday,08/05/2020,All,All,All,$,0,52000000
29625,Reimports,2019,17/05/2019,Friday,15/05/2020,All,All,All,$,2000000,56000000
29632,Reimports,2019,24/05/2019,Friday,22/05/2020,All,All,All,$,0,58000000
29639,Reimports,2019,31/05/2019,Friday,29/05/2020,All,All,All,$,1000000,63000000
29646,Reimports,2019,07/06/2019,Friday,05/06/2020,All,All,All,$,1000000,66000000
29658,Reimports,2020,07/02/2020,Friday,07/02/2020,All,All,All,$,1000000,3000000
29665,Reimports,2020,14/02/2020,Friday,14/02/2020,All,All,All,$,0,6000000
29672,Reimports,2020,21/02/2020,Friday,21/02/2020,All,All,All,$,1000000,9000000
29679,Reimports,2020,28/02/2020,Friday,28/02/2020,All,All,All,$,1000000,14000000
29686,Reimports,2020,06/03/2020,Friday,06/03/2020,All,All,All,$,1000000,19000000
29693,Reimports,2020,13/03/2020,Friday,13/03/2020,All,All,All,$,0,21000000
29700,Reimports,2020,20/03/2020,Friday,20/03/2020,All,All,All,$,0,24000000
29707,Reimports,2020,27/03/2020,Friday,27/03/2020,All,All,All,$,2000000,27000000
29714,Reimports,2020,03/04/2020,Friday,03/04/2020,All,All,All,$,2000000,32000000
29721,Reimports,2020,10/04/2020,Friday,10/04/2020,All,All,All,$,0,34000000
29728,Reimports,2020,17/04/2020,Friday,17/04/2020,All,All,All,$,0,35000000
29735,Reimports,2020,24/04/2020,Friday,24/04/2020,All,All,All,$,1000000,39000000
29742,Reimports,2020,01/05/2020,Friday,01/05/2020,All,All,All,$,2000000,45000000
29749,Reimports,2020,08/05/2020,Friday,08/05/2020,All,All,All,$,0,48000000
29756,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
29763,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
29770,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,All,$,0,57000000
29777,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,All,$,1000000,62000000

In [152]:
pub_df.isna

<bound method DataFrame.isna of        direction  year        date    weekday current_match country commodity  \
0        Exports  2015  31/01/2015   Saturday    01/02/2020     All       All
1        Exports  2015  01/02/2015     Sunday    02/02/2020     All       All
2        Exports  2015  02/02/2015     Monday    03/02/2020     All       All
3        Exports  2015  03/02/2015    Tuesday    04/02/2020     All       All
4        Exports  2015  04/02/2015  Wednesday    05/02/2020     All       All
5        Exports  2015  05/02/2015   Thursday    06/02/2020     All       All
6        Exports  2015  06/02/2015     Friday    07/02/2020     All       All
7        Exports  2015  07/02/2015   Saturday    08/02/2020     All       All
8        Exports  2015  08/02/2015     Sunday    09/02/2020     All       All
9        Exports  2015  09/02/2015     Monday    10/02/2020     All       All
10       Exports  2015  10/02/2015    Tuesday    11/02/2020     All       All
11       Exports  2015  11/02/2015  Wednesday    12/02/2020     All       All
12       Exports  2015  12/02/2015   Thursday    13/02/2020     All       All
13       Exports  2015  13/02/2015     Friday    14/02/2020     All       All
14       Exports  2015  14/02/2015   Saturday    15/02/2020     All       All
15       Exports  2015  15/02/2015     Sunday    16/02/2020     All       All
16       Exports  2015  16/02/2015     Monday    17/02/2020     All       All
17       Exports  2015  17/02/2015    Tuesday    18/02/2020     All       All
18       Exports  2015  18/02/2015  Wednesday    19/02/2020     All       All
19       Exports  2015  19/02/2015   Thursday    20/02/2020     All       All
20       Exports  2015  20/02/2015     Friday    21/02/2020     All       All
21       Exports  2015  21/02/2015   Saturday    22/02/2020     All       All
22       Exports  2015  22/02/2015     Sunday    23/02/2020     All       All
23       Exports  2015  23/02/2015     Monday    24/02/2020     All       All
24       Exports  2015  24/02/2015    Tuesday    25/02/2020     All       All
25       Exports  2015  25/02/2015  Wednesday    26/02/2020     All       All
26       Exports  2015  26/02/2015   Thursday    27/02/2020     All       All
27       Exports  2015  27/02/2015     Friday    28/02/2020     All       All
28       Exports  2015  28/02/2015   Saturday    29/02/2020     All       All
29       Exports  2015  01/03/2015     Sunday    01/03/2020     All       All
...          ...   ...         ...        ...           ...     ...       ...
29753  Reimports  2020  12/05/2020    Tuesday    12/05/2020     All       All
29754  Reimports  2020  13/05/2020  Wednesday    13/05/2020     All       All
29755  Reimports  2020  14/05/2020   Thursday    14/05/2020     All       All
29756  Reimports  2020  15/05/2020     Friday    15/05/2020     All       All
29757  Reimports  2020  16/05/2020   Saturday    16/05/2020     All       All
29758  Reimports  2020  17/05/2020     Sunday    17/05/2020     All       All
29759  Reimports  2020  18/05/2020     Monday    18/05/2020     All       All
29760  Reimports  2020  19/05/2020    Tuesday    19/05/2020     All       All
29761  Reimports  2020  20/05/2020  Wednesday    20/05/2020     All       All
29762  Reimports  2020  21/05/2020   Thursday    21/05/2020     All       All
29763  Reimports  2020  22/05/2020     Friday    22/05/2020     All       All
29764  Reimports  2020  23/05/2020   Saturday    23/05/2020     All       All
29765  Reimports  2020  24/05/2020     Sunday    24/05/2020     All       All
29766  Reimports  2020  25/05/2020     Monday    25/05/2020     All       All
29767  Reimports  2020  26/05/2020    Tuesday    26/05/2020     All       All
29768  Reimports  2020  27/05/2020  Wednesday    27/05/2020     All       All
29769  Reimports  2020  28/05/2020   Thursday    28/05/2020     All       All
29770  Reimports  2020  29/05/2020     Friday    29/05/2020     All       All
29771  Reimports  2020  30/05/2020   Saturday    30/05/2020     All       All
29772  Reimports  2020  31/05/2020     Sunday    31/05/2020     All       All
29773  Reimports  2020  01/06/2020     Monday    01/06/2020     All       All
29774  Reimports  2020  02/06/2020    Tuesday    02/06/2020     All       All
29775  Reimports  2020  03/06/2020  Wednesday    03/06/2020     All       All
29776  Reimports  2020  04/06/2020   Thursday    04/06/2020     All       All
29777  Reimports  2020  05/06/2020     Friday    05/06/2020     All       All
29778  Reimports  2020  06/06/2020   Saturday    06/06/2020     All       All
29779  Reimports  2020  07/06/2020     Sunday    07/06/2020     All       All
29780  Reimports  2020  08/06/2020     Monday    08/06/2020     All       All
29781  Reimports  2020  09/06/2020    Tuesday    09/06/2020     All       All
29782  Reimports  2020  10/06/2020  Wednesday    10/06/2020     All       All

      transport_mode measure      value  cumulative
0                All       $  257000000   257000000
1                All       $  123000000   380000000
2                All       $  176000000   556000000
3                All       $  115000000   671000000
4                All       $   74000000   746000000
5                All       $  119000000   864000000
6                All       $  127000000   992000000
7                All       $  206000000  1198000000
8                All       $  114000000  1312000000
9                All       $  202000000  1513000000
10               All       $   88000000  1601000000
11               All       $   67000000  1669000000
12               All       $  132000000  1801000000
13               All       $  143000000  1944000000
14               All       $  146000000  2090000000
15               All       $  111000000  2201000000
16               All       $  226000000  2427000000
17               All       $  171000000  2599000000
18               All       $  120000000  2718000000
19               All       $  157000000  2875000000
20               All       $  157000000  3032000000
21               All       $  184000000  3216000000
22               All       $  135000000  3352000000
23               All       $  185000000  3536000000
24               All       $   94000000  3630000000
25               All       $  113000000  3743000000
26               All       $  130000000  3873000000
27               All       $  127000000  4000000000
28               All       $  145000000  4145000000
29               All       $  386000000  4531000000
...              ...     ...        ...         ...
29753            All       $    1000000    49000000
29754            All       $    1000000    50000000
29755            All       $          0    50000000
29756            All       $    1000000    51000000
29757            All       $          0    51000000
29758            All       $          0    51000000
29759            All       $    1000000    51000000
29760            All       $          0    52000000
29761            All       $          0    52000000
29762            All       $          0    52000000
29763            All       $    1000000    53000000
29764            All       $          0    54000000
29765            All       $          0    54000000
29766            All       $          0    54000000
29767            All       $          0    54000000
29768            All       $    2000000    56000000
29769            All       $    1000000    57000000
29770            All       $          0    57000000
29771            All       $          0    57000000
29772            All       $          0    57000000
29773            All       $          0    57000000
29774            All       $    1000000    58000000
29775            All       $    1000000    59000000
29776            All       $    2000000    61000000
29777            All       $    1000000    62000000
29778            All       $          0    62000000
29779            All       $          0    62000000
29780            All       $          0    62000000
29781            All       $          0    62000000
29782            All       $    1000000    64000000

[29783 rows x 11 columns]>

In [153]:
pub_df.fillna('missingmissing')

,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000
5,Exports,2015,05/02/2015,Thursday,06/02/2020,All,All,All,$,119000000,864000000
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
7,Exports,2015,07/02/2015,Saturday,08/02/2020,All,All,All,$,206000000,1198000000
8,Exports,2015,08/02/2015,Sunday,09/02/2020,All,All,All,$,114000000,1312000000
9,Exports,2015,09/02/2015,Monday,10/02/2020,All,All,All,$,202000000,1513000000
10,Exports,2015,10/02/2015,Tuesday,11/02/2020,All,All,All,$,88000000,1601000000
11,Exports,2015,11/02/2015,Wednesday,12/02/2020,All,All,All,$,67000000,1669000000
12,Exports,2015,12/02/2015,Thursday,13/02/2020,All,All,All,$,132000000,1801000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
14,Exports,2015,14/02/2015,Saturday,15/02/2020,All,All,All,$,146000000,2090000000
15,Exports,2015,15/02/2015,Sunday,16/02/2020,All,All,All,$,111000000,2201000000
16,Exports,2015,16/02/2015,Monday,17/02/2020,All,All,All,$,226000000,2427000000
17,Exports,2015,17/02/2015,Tuesday,18/02/2020,All,All,All,$,171000000,2599000000
18,Exports,2015,18/02/2015,Wednesday,19/02/2020,All,All,All,$,120000000,2718000000
19,Exports,2015,19/02/2015,Thursday,20/02/2020,All,All,All,$,157000000,2875000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
21,Exports,2015,21/02/2015,Saturday,22/02/2020,All,All,All,$,184000000,3216000000
22,Exports,2015,22/02/2015,Sunday,23/02/2020,All,All,All,$,135000000,3352000000
23,Exports,2015,23/02/2015,Monday,24/02/2020,All,All,All,$,185000000,3536000000
24,Exports,2015,24/02/2015,Tuesday,25/02/2020,All,All,All,$,94000000,3630000000
25,Exports,2015,25/02/2015,Wednesday,26/02/2020,All,All,All,$,113000000,3743000000
26,Exports,2015,26/02/2015,Thursday,27/02/2020,All,All,All,$,130000000,3873000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
28,Exports,2015,28/02/2015,Saturday,29/02/2020,All,All,All,$,145000000,4145000000
29,Exports,2015,01/03/2015,Sunday,01/03/2020,All,All,All,$,386000000,4531000000
...,...,...,...,...,...,...,...,...,...,...,...
29753,Reimports,2020,12/05/2020,Tuesday,12/05/2020,All,All,All,$,1000000,49000000
29754,Reimports,2020,13/05/2020,Wednesday,13/05/2020,All,All,All,$,1000000,50000000
29755,Reimports,2020,14/05/2020,Thursday,14/05/2020,All,All,All,$,0,50000000
29756,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
29757,Reimports,2020,16/05/2020,Saturday,16/05/2020,All,All,All,$,0,51000000
29758,Reimports,2020,17/05/2020,Sunday,17/05/2020,All,All,All,$,0,51000000
29759,Reimports,2020,18/05/2020,Monday,18/05/2020,All,All,All,$,1000000,51000000
29760,Reimports,2020,19/05/2020,Tuesday,19/05/2020,All,All,All,$,0,52000000
29761,Reimports,2020,20/05/2020,Wednesday,20/05/2020,All,All,All,$,0,52000000
29762,Reimports,2020,21/05/2020,Thursday,21/05/2020,All,All,All,$,0,52000000
29763,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
29764,Reimports,2020,23/05/2020,Saturday,23/05/2020,All,All,All,$,0,54000000
29765,Reimports,2020,24/05/2020,Sunday,24/05/2020,All,All,All,$,0,54000000
29766,Reimports,2020,25/05/2020,Monday,25/05/2020,All,All,All,$,0,54000000
29767,Reimports,2020,26/05/2020,Tuesday,26/05/2020,All,All,All,$,0,54000000
29768,Reimports,2020,27/05/2020,Wednesday,27/05/2020,All,All,All,$,2000000,56000000
29769,Reimports,2020,28/05/2020,Thursday,28/05/2020,All,All,All,$,1000000,57000000
29770,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,All,$,0,57000000
29771,Reimports,2020,30/05/2020,Saturday,30/05/2020,All,All,All,$,0,57000000
29772,Reimports,2020,31/05/2020,Sunday,31/05/2020,All,All,All,$,0,57000000
29773,Reimports,2020,01/06/2020,Monday,01/06/2020,All,All,All,$,0,57000000
29774,Reimports,2020,02/06/2020,Tuesday,02/06/2020,All,All,All,$,1000000,58000000
29775,Reimports,2020,03/06/2020,Wednesday,03/06/2020,All,All,All,$,1000000,59000000
29776,Reimports,2020,04/06/2020,Thursday,04/06/2020,All,All,All,$,2000000,61000000
29777,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,All,$,1000000,62000000
29778,Reimports,2020,06/06/2020,Saturday,06/06/2020,All,All,All,$,0,62000000
29779,Reimports,2020,07/06/2020,Sunday,07/06/2020,All,All,All,$,0,62000000
29780,Reimports,2020,08/06/2020,Monday,08/06/2020,All,All,All,$,0,62000000
29781,Reimports,2020,09/06/2020,Tuesday,09/06/2020,All,All,All,$,0,62000000
29782,Reimports,2020,10/06/2020,Wednesday,10/06/2020,All,All,All,$,1000000,64000000

In [154]:
gender_grp.get_group('Friday')

,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
34,Exports,2015,06/03/2015,Friday,06/03/2020,All,All,All,$,153000000,5350000000
41,Exports,2015,13/03/2015,Friday,13/03/2020,All,All,All,$,130000000,6339000000
48,Exports,2015,20/03/2015,Friday,20/03/2020,All,All,All,$,131000000,7306000000
55,Exports,2015,27/03/2015,Friday,27/03/2020,All,All,All,$,117000000,8364000000
62,Exports,2015,03/04/2015,Friday,03/04/2020,All,All,All,$,158000000,9427000000
69,Exports,2015,10/04/2015,Friday,10/04/2020,All,All,All,$,126000000,10414000000
76,Exports,2015,17/04/2015,Friday,17/04/2020,All,All,All,$,122000000,11372000000
83,Exports,2015,24/04/2015,Friday,24/04/2020,All,All,All,$,154000000,12368000000
90,Exports,2015,01/05/2015,Friday,01/05/2020,All,All,All,$,121000000,13305000000
97,Exports,2015,08/05/2015,Friday,08/05/2020,All,All,All,$,199000000,14297000000
104,Exports,2015,15/05/2015,Friday,15/05/2020,All,All,All,$,191000000,15235000000
111,Exports,2015,22/05/2015,Friday,22/05/2020,All,All,All,$,200000000,16260000000
118,Exports,2015,29/05/2015,Friday,29/05/2020,All,All,All,$,158000000,17154000000
125,Exports,2015,05/06/2015,Friday,05/06/2020,All,All,All,$,168000000,18173000000
137,Exports,2016,05/02/2016,Friday,07/02/2020,All,All,All,$,162000000,1157000000
144,Exports,2016,12/02/2016,Friday,14/02/2020,All,All,All,$,171000000,2001000000
151,Exports,2016,19/02/2016,Friday,21/02/2020,All,All,All,$,122000000,2993000000
158,Exports,2016,26/02/2016,Friday,28/02/2020,All,All,All,$,163000000,4121000000
165,Exports,2016,04/03/2016,Friday,06/03/2020,All,All,All,$,168000000,5237000000
172,Exports,2016,11/03/2016,Friday,13/03/2020,All,All,All,$,122000000,6095000000
179,Exports,2016,18/03/2016,Friday,20/03/2020,All,All,All,$,189000000,7155000000
186,Exports,2016,25/03/2016,Friday,27/03/2020,All,All,All,$,135000000,7991000000
193,Exports,2016,01/04/2016,Friday,03/04/2020,All,All,All,$,156000000,9074000000
200,Exports,2016,08/04/2016,Friday,10/04/2020,All,All,All,$,118000000,9818000000
207,Exports,2016,15/04/2016,Friday,17/04/2020,All,All,All,$,219000000,11009000000
214,Exports,2016,22/04/2016,Friday,24/04/2020,All,All,All,$,145000000,11946000000
...,...,...,...,...,...,...,...,...,...,...,...
29569,Reimports,2019,22/03/2019,Friday,20/03/2020,All,All,All,$,1000000,24000000
29576,Reimports,2019,29/03/2019,Friday,27/03/2020,All,All,All,$,1000000,27000000
29583,Reimports,2019,05/04/2019,Friday,03/04/2020,All,All,All,$,1000000,31000000
29590,Reimports,2019,12/04/2019,Friday,10/04/2020,All,All,All,$,2000000,35000000
29597,Reimports,2019,19/04/2019,Friday,17/04/2020,All,All,All,$,0,42000000
29604,Reimports,2019,26/04/2019,Friday,24/04/2020,All,All,All,$,0,45000000
29611,Reimports,2019,03/05/2019,Friday,01/05/2020,All,All,All,$,3000000,49000000
29618,Reimports,2019,10/05/2019,Friday,08/05/2020,All,All,All,$,0,52000000
29625,Reimports,2019,17/05/2019,Friday,15/05/2020,All,All,All,$,2000000,56000000
29632,Reimports,2019,24/05/2019,Friday,22/05/2020,All,All,All,$,0,58000000
29639,Reimports,2019,31/05/2019,Friday,29/05/2020,All,All,All,$,1000000,63000000
29646,Reimports,2019,07/06/2019,Friday,05/06/2020,All,All,All,$,1000000,66000000
29658,Reimports,2020,07/02/2020,Friday,07/02/2020,All,All,All,$,1000000,3000000
29665,Reimports,2020,14/02/2020,Friday,14/02/2020,All,All,All,$,0,6000000
29672,Reimports,2020,21/02/2020,Friday,21/02/2020,All,All,All,$,1000000,9000000
29679,Reimports,2020,28/02/2020,Friday,28/02/2020,All,All,All,$,1000000,14000000
29686,Reimports,2020,06/03/2020,Friday,06/03/2020,All,All,All,$,1000000,19000000
29693,Reimports,2020,13/03/2020,Friday,13/03/2020,All,All,All,$,0,21000000
29700,Reimports,2020,20/03/2020,Friday,20/03/2020,All,All,All,$,0,24000000
29707,Reimports,2020,27/03/2020,Friday,27/03/2020,All,All,All,$,2000000,27000000
29714,Reimports,2020,03/04/2020,Friday,03/04/2020,All,All,All,$,2000000,32000000
29721,Reimports,2020,10/04/2020,Friday,10/04/2020,All,All,All,$,0,34000000
29728,Reimports,2020,17/04/2020,Friday,17/04/2020,All,All,All,$,0,35000000
29735,Reimports,2020,24/04/2020,Friday,24/04/2020,All,All,All,$,1000000,39000000
29742,Reimports,2020,01/05/2020,Friday,01/05/2020,All,All,All,$,2000000,45000000
29749,Reimports,2020,08/05/2020,Friday,08/05/2020,All,All,All,$,0,48000000
29756,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
29763,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
29770,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,All,$,0,57000000
29777,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,All,$,1000000,62000000

In [155]:
filt = (pub_df['weekday']== 'Friday')

Man_df = pub_df.loc[filt]


Man_df.head()

,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
34,Exports,2015,06/03/2015,Friday,06/03/2020,All,All,All,$,153000000,5350000000

In [156]:
Man_df.to_csv('public.csv')

In [157]:
Man_df.to_csv('public.tsv', sep='\t')

In [164]:
df = pd.read_csv('public.tsv', sep='\t')

In [165]:
df

,Unnamed: 0,direction,year,date,weekday,current_match,country,commodity,transport_mode,measure,value,cumulative
0,6,Exports,2015,06/02/2015,Friday,07/02/2020,All,All,All,$,127000000,992000000
1,13,Exports,2015,13/02/2015,Friday,14/02/2020,All,All,All,$,143000000,1944000000
2,20,Exports,2015,20/02/2015,Friday,21/02/2020,All,All,All,$,157000000,3032000000
3,27,Exports,2015,27/02/2015,Friday,28/02/2020,All,All,All,$,127000000,4000000000
4,34,Exports,2015,06/03/2015,Friday,06/03/2020,All,All,All,$,153000000,5350000000
5,41,Exports,2015,13/03/2015,Friday,13/03/2020,All,All,All,$,130000000,6339000000
6,48,Exports,2015,20/03/2015,Friday,20/03/2020,All,All,All,$,131000000,7306000000
7,55,Exports,2015,27/03/2015,Friday,27/03/2020,All,All,All,$,117000000,8364000000
8,62,Exports,2015,03/04/2015,Friday,03/04/2020,All,All,All,$,158000000,9427000000
9,69,Exports,2015,10/04/2015,Friday,10/04/2020,All,All,All,$,126000000,10414000000
10,76,Exports,2015,17/04/2015,Friday,17/04/2020,All,All,All,$,122000000,11372000000
11,83,Exports,2015,24/04/2015,Friday,24/04/2020,All,All,All,$,154000000,12368000000
12,90,Exports,2015,01/05/2015,Friday,01/05/2020,All,All,All,$,121000000,13305000000
13,97,Exports,2015,08/05/2015,Friday,08/05/2020,All,All,All,$,199000000,14297000000
14,104,Exports,2015,15/05/2015,Friday,15/05/2020,All,All,All,$,191000000,15235000000
15,111,Exports,2015,22/05/2015,Friday,22/05/2020,All,All,All,$,200000000,16260000000
16,118,Exports,2015,29/05/2015,Friday,29/05/2020,All,All,All,$,158000000,17154000000
17,125,Exports,2015,05/06/2015,Friday,05/06/2020,All,All,All,$,168000000,18173000000
18,137,Exports,2016,05/02/2016,Friday,07/02/2020,All,All,All,$,162000000,1157000000
19,144,Exports,2016,12/02/2016,Friday,14/02/2020,All,All,All,$,171000000,2001000000
20,151,Exports,2016,19/02/2016,Friday,21/02/2020,All,All,All,$,122000000,2993000000
21,158,Exports,2016,26/02/2016,Friday,28/02/2020,All,All,All,$,163000000,4121000000
22,165,Exports,2016,04/03/2016,Friday,06/03/2020,All,All,All,$,168000000,5237000000
23,172,Exports,2016,11/03/2016,Friday,13/03/2020,All,All,All,$,122000000,6095000000
24,179,Exports,2016,18/03/2016,Friday,20/03/2020,All,All,All,$,189000000,7155000000
25,186,Exports,2016,25/03/2016,Friday,27/03/2020,All,All,All,$,135000000,7991000000
26,193,Exports,2016,01/04/2016,Friday,03/04/2020,All,All,All,$,156000000,9074000000
27,200,Exports,2016,08/04/2016,Friday,10/04/2020,All,All,All,$,118000000,9818000000
28,207,Exports,2016,15/04/2016,Friday,17/04/2020,All,All,All,$,219000000,11009000000
29,214,Exports,2016,22/04/2016,Friday,24/04/2020,All,All,All,$,145000000,11946000000
...,...,...,...,...,...,...,...,...,...,...,...,...
4072,29569,Reimports,2019,22/03/2019,Friday,20/03/2020,All,All,All,$,1000000,24000000
4073,29576,Reimports,2019,29/03/2019,Friday,27/03/2020,All,All,All,$,1000000,27000000
4074,29583,Reimports,2019,05/04/2019,Friday,03/04/2020,All,All,All,$,1000000,31000000
4075,29590,Reimports,2019,12/04/2019,Friday,10/04/2020,All,All,All,$,2000000,35000000
4076,29597,Reimports,2019,19/04/2019,Friday,17/04/2020,All,All,All,$,0,42000000
4077,29604,Reimports,2019,26/04/2019,Friday,24/04/2020,All,All,All,$,0,45000000
4078,29611,Reimports,2019,03/05/2019,Friday,01/05/2020,All,All,All,$,3000000,49000000
4079,29618,Reimports,2019,10/05/2019,Friday,08/05/2020,All,All,All,$,0,52000000
4080,29625,Reimports,2019,17/05/2019,Friday,15/05/2020,All,All,All,$,2000000,56000000
4081,29632,Reimports,2019,24/05/2019,Friday,22/05/2020,All,All,All,$,0,58000000
4082,29639,Reimports,2019,31/05/2019,Friday,29/05/2020,All,All,All,$,1000000,63000000
4083,29646,Reimports,2019,07/06/2019,Friday,05/06/2020,All,All,All,$,1000000,66000000
4084,29658,Reimports,2020,07/02/2020,Friday,07/02/2020,All,All,All,$,1000000,3000000
4085,29665,Reimports,2020,14/02/2020,Friday,14/02/2020,All,All,All,$,0,6000000
4086,29672,Reimports,2020,21/02/2020,Friday,21/02/2020,All,All,All,$,1000000,9000000
4087,29679,Reimports,2020,28/02/2020,Friday,28/02/2020,All,All,All,$,1000000,14000000
4088,29686,Reimports,2020,06/03/2020,Friday,06/03/2020,All,All,All,$,1000000,19000000
4089,29693,Reimports,2020,13/03/2020,Friday,13/03/2020,All,All,All,$,0,21000000
4090,29700,Reimports,2020,20/03/2020,Friday,20/03/2020,All,All,All,$,0,24000000
4091,29707,Reimports,2020,27/03/2020,Friday,27/03/2020,All,All,All,$,2000000,27000000
4092,29714,Reimports,2020,03/04/2020,Friday,03/04/2020,All,All,All,$,2000000,32000000
4093,29721,Reimports,2020,10/04/2020,Friday,10/04/2020,All,All,All,$,0,34000000
4094,29728,Reimports,2020,17/04/2020,Friday,17/04/2020,All,All,All,$,0,35000000
4095,29735,Reimports,2020,24/04/2020,Friday,24/04/2020,All,All,All,$,1000000,39000000
4096,29742,Reimports,2020,01/05/2020,Friday,01/05/2020,All,All,All,$,2000000,45000000
4097,29749,Reimports,2020,08/05/2020,Friday,08/05/2020,All,All,All,$,0,48000000
4098,29756,Reimports,2020,15/05/2020,Friday,15/05/2020,All,All,All,$,1000000,51000000
4099,29763,Reimports,2020,22/05/2020,Friday,22/05/2020,All,All,All,$,1000000,53000000
4100,29770,Reimports,2020,29/05/2020,Friday,29/05/2020,All,All,All,$,0,57000000
4101,29777,Reimports,2020,05/06/2020,Friday,05/06/2020,All,All,All,$,1000000,62000000